[Unit]
Description=Run esdata EUR-Lex weekly sync

[Timer]
OnCalendar=Tue *-*-* 16:00:00
Persistent=true
Unit=esdata-job@cron-eurlex-weekly.service

[Install]
WantedBy=timers.target
