--
-- PostgreSQL database dump
--

\restrict kvaOCUJsOYbTKeUPjaZbJb3Y0tWcfx0GStD6n1I0699Yb3kUqGmz8ey2PTK7Z5e

-- Dumped from database version 16.13 (Debian 16.13-1.pgdg12+1)
-- Dumped by pg_dump version 16.13 (Debian 16.13-1.pgdg12+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: articulo; Type: TABLE; Schema: public; Owner: esdata
--

CREATE TABLE public.articulo (
    id integer NOT NULL,
    norma_id integer NOT NULL,
    numero text NOT NULL,
    titulo text,
    tipo text NOT NULL
);


ALTER TABLE public.articulo OWNER TO esdata;

--
-- Name: articulo_id_seq; Type: SEQUENCE; Schema: public; Owner: esdata
--

CREATE SEQUENCE public.articulo_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.articulo_id_seq OWNER TO esdata;

--
-- Name: articulo_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: esdata
--

ALTER SEQUENCE public.articulo_id_seq OWNED BY public.articulo.id;


--
-- Name: norma; Type: TABLE; Schema: public; Owner: esdata
--

CREATE TABLE public.norma (
    id integer NOT NULL,
    codigo text NOT NULL,
    titulo text NOT NULL,
    boe_id text NOT NULL,
    eli_uri text,
    jurisdiccion text NOT NULL,
    tipo_fuente text NOT NULL,
    tipo_documento text NOT NULL,
    ambito text NOT NULL,
    estado_cobertura text NOT NULL,
    vigente_desde date NOT NULL,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.norma OWNER TO esdata;

--
-- Name: norma_id_seq; Type: SEQUENCE; Schema: public; Owner: esdata
--

CREATE SEQUENCE public.norma_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.norma_id_seq OWNER TO esdata;

--
-- Name: norma_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: esdata
--

ALTER SEQUENCE public.norma_id_seq OWNED BY public.norma.id;


--
-- Name: sync_log; Type: TABLE; Schema: public; Owner: esdata
--

CREATE TABLE public.sync_log (
    id integer NOT NULL,
    worker text NOT NULL,
    started_at timestamp with time zone NOT NULL,
    finished_at timestamp with time zone,
    status text NOT NULL,
    bloques_processed integer,
    articulos_upserted integer,
    documentos_processed integer,
    documentos_upserted integer,
    doctrina_links_created integer,
    error_msg text
);


ALTER TABLE public.sync_log OWNER TO esdata;

--
-- Name: sync_log_id_seq; Type: SEQUENCE; Schema: public; Owner: esdata
--

CREATE SEQUENCE public.sync_log_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.sync_log_id_seq OWNER TO esdata;

--
-- Name: sync_log_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: esdata
--

ALTER SEQUENCE public.sync_log_id_seq OWNED BY public.sync_log.id;


--
-- Name: version_articulo; Type: TABLE; Schema: public; Owner: esdata
--

CREATE TABLE public.version_articulo (
    id integer NOT NULL,
    articulo_id integer NOT NULL,
    texto text NOT NULL,
    vigente_desde date NOT NULL,
    vigente_hasta date,
    boe_bloque_id text,
    search_vector tsvector
);


ALTER TABLE public.version_articulo OWNER TO esdata;

--
-- Name: version_articulo_id_seq; Type: SEQUENCE; Schema: public; Owner: esdata
--

CREATE SEQUENCE public.version_articulo_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.version_articulo_id_seq OWNER TO esdata;

--
-- Name: version_articulo_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: esdata
--

ALTER SEQUENCE public.version_articulo_id_seq OWNED BY public.version_articulo.id;


--
-- Name: articulo id; Type: DEFAULT; Schema: public; Owner: esdata
--

ALTER TABLE ONLY public.articulo ALTER COLUMN id SET DEFAULT nextval('public.articulo_id_seq'::regclass);


--
-- Name: norma id; Type: DEFAULT; Schema: public; Owner: esdata
--

ALTER TABLE ONLY public.norma ALTER COLUMN id SET DEFAULT nextval('public.norma_id_seq'::regclass);


--
-- Name: sync_log id; Type: DEFAULT; Schema: public; Owner: esdata
--

ALTER TABLE ONLY public.sync_log ALTER COLUMN id SET DEFAULT nextval('public.sync_log_id_seq'::regclass);


--
-- Name: version_articulo id; Type: DEFAULT; Schema: public; Owner: esdata
--

ALTER TABLE ONLY public.version_articulo ALTER COLUMN id SET DEFAULT nextval('public.version_articulo_id_seq'::regclass);


--
-- Data for Name: articulo; Type: TABLE DATA; Schema: public; Owner: esdata
--



--
-- Data for Name: norma; Type: TABLE DATA; Schema: public; Owner: esdata
--



--
-- Data for Name: sync_log; Type: TABLE DATA; Schema: public; Owner: esdata
--

COPY public.sync_log (id, worker, started_at, finished_at, status, bloques_processed, articulos_upserted, documentos_processed, documentos_upserted, doctrina_links_created, error_msg) FROM stdin;
1	cron-boe-daily	2026-04-27 07:11:33.468243+00	2026-04-27 07:11:37.854165+00	ok	22	22	0	0	0	\N
2	cron-boe-daily	2026-04-27 08:25:33.075307+00	2026-04-27 08:25:33.637757+00	ok	3	3	0	0	0	\N
\.


--
-- Data for Name: version_articulo; Type: TABLE DATA; Schema: public; Owner: esdata
--



--
-- Name: articulo_id_seq; Type: SEQUENCE SET; Schema: public; Owner: esdata
--

SELECT pg_catalog.setval('public.articulo_id_seq', 25, true);


--
-- Name: norma_id_seq; Type: SEQUENCE SET; Schema: public; Owner: esdata
--

SELECT pg_catalog.setval('public.norma_id_seq', 36, true);


--
-- Name: sync_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: esdata
--

SELECT pg_catalog.setval('public.sync_log_id_seq', 2, true);


--
-- Name: version_articulo_id_seq; Type: SEQUENCE SET; Schema: public; Owner: esdata
--

SELECT pg_catalog.setval('public.version_articulo_id_seq', 25, true);


--
-- Name: articulo articulo_norma_id_numero_key; Type: CONSTRAINT; Schema: public; Owner: esdata
--

ALTER TABLE ONLY public.articulo
    ADD CONSTRAINT articulo_norma_id_numero_key UNIQUE (norma_id, numero);


--
-- Name: articulo articulo_pkey; Type: CONSTRAINT; Schema: public; Owner: esdata
--

ALTER TABLE ONLY public.articulo
    ADD CONSTRAINT articulo_pkey PRIMARY KEY (id);


--
-- Name: norma norma_boe_id_key; Type: CONSTRAINT; Schema: public; Owner: esdata
--

ALTER TABLE ONLY public.norma
    ADD CONSTRAINT norma_boe_id_key UNIQUE (boe_id);


--
-- Name: norma norma_codigo_key; Type: CONSTRAINT; Schema: public; Owner: esdata
--

ALTER TABLE ONLY public.norma
    ADD CONSTRAINT norma_codigo_key UNIQUE (codigo);


--
-- Name: norma norma_eli_uri_key; Type: CONSTRAINT; Schema: public; Owner: esdata
--

ALTER TABLE ONLY public.norma
    ADD CONSTRAINT norma_eli_uri_key UNIQUE (eli_uri);


--
-- Name: norma norma_pkey; Type: CONSTRAINT; Schema: public; Owner: esdata
--

ALTER TABLE ONLY public.norma
    ADD CONSTRAINT norma_pkey PRIMARY KEY (id);


--
-- Name: sync_log sync_log_pkey; Type: CONSTRAINT; Schema: public; Owner: esdata
--

ALTER TABLE ONLY public.sync_log
    ADD CONSTRAINT sync_log_pkey PRIMARY KEY (id);


--
-- Name: version_articulo version_articulo_pkey; Type: CONSTRAINT; Schema: public; Owner: esdata
--

ALTER TABLE ONLY public.version_articulo
    ADD CONSTRAINT version_articulo_pkey PRIMARY KEY (id);


--
-- Name: idx_articulo_norma_id; Type: INDEX; Schema: public; Owner: esdata
--

CREATE INDEX idx_articulo_norma_id ON public.articulo USING btree (norma_id);


--
-- Name: idx_articulo_titulo_trgm; Type: INDEX; Schema: public; Owner: esdata
--

CREATE INDEX idx_articulo_titulo_trgm ON public.articulo USING gin (titulo public.gin_trgm_ops);


--
-- Name: idx_sync_log_started_at; Type: INDEX; Schema: public; Owner: esdata
--

CREATE INDEX idx_sync_log_started_at ON public.sync_log USING btree (started_at DESC);


--
-- Name: idx_sync_log_worker; Type: INDEX; Schema: public; Owner: esdata
--

CREATE INDEX idx_sync_log_worker ON public.sync_log USING btree (worker);


--
-- Name: idx_sync_log_worker_started; Type: INDEX; Schema: public; Owner: esdata
--

CREATE INDEX idx_sync_log_worker_started ON public.sync_log USING btree (worker, started_at DESC);


--
-- Name: idx_version_articulo_articulo_id; Type: INDEX; Schema: public; Owner: esdata
--

CREATE INDEX idx_version_articulo_articulo_id ON public.version_articulo USING btree (articulo_id);


--
-- Name: idx_version_articulo_articulo_vigente; Type: INDEX; Schema: public; Owner: esdata
--

CREATE INDEX idx_version_articulo_articulo_vigente ON public.version_articulo USING btree (articulo_id, vigente_desde DESC);


--
-- Name: idx_version_articulo_search_vector; Type: INDEX; Schema: public; Owner: esdata
--

CREATE INDEX idx_version_articulo_search_vector ON public.version_articulo USING gin (search_vector);


--
-- Name: idx_version_articulo_texto_trgm; Type: INDEX; Schema: public; Owner: esdata
--

CREATE INDEX idx_version_articulo_texto_trgm ON public.version_articulo USING gin (texto public.gin_trgm_ops);


--
-- Name: version_articulo trg_version_articulo_search_vector; Type: TRIGGER; Schema: public; Owner: esdata
--

CREATE TRIGGER trg_version_articulo_search_vector BEFORE INSERT OR UPDATE OF texto ON public.version_articulo FOR EACH ROW EXECUTE FUNCTION public.update_version_articulo_search_vector();


--
-- Name: articulo articulo_norma_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: esdata
--

ALTER TABLE ONLY public.articulo
    ADD CONSTRAINT articulo_norma_id_fkey FOREIGN KEY (norma_id) REFERENCES public.norma(id);


--
-- Name: version_articulo version_articulo_articulo_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: esdata
--

ALTER TABLE ONLY public.version_articulo
    ADD CONSTRAINT version_articulo_articulo_id_fkey FOREIGN KEY (articulo_id) REFERENCES public.articulo(id);


--
-- PostgreSQL database dump complete
--

\unrestrict kvaOCUJsOYbTKeUPjaZbJb3Y0tWcfx0GStD6n1I0699Yb3kUqGmz8ey2PTK7Z5e

