--
-- PostgreSQL database dump
--

\restrict HHsg5kWKehANpRIELZ6Mwoq1LRrE00SFjMOl2elgCNYuuHL80FSuVGSckqrcFyZ

-- Dumped from database version 16.13 (Debian 16.13-1.pgdg12+1)
-- Dumped by pg_dump version 16.13 (Debian 16.13-1.pgdg12+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: pg_trgm; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pg_trgm WITH SCHEMA public;


--
-- Name: EXTENSION pg_trgm; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION pg_trgm IS 'text similarity measurement and index searching based on trigrams';


--
-- Name: modelo_campana_activa(integer); Type: FUNCTION; Schema: public; Owner: esdata
--

CREATE FUNCTION public.modelo_campana_activa(p_modelo_id integer) RETURNS TABLE(id integer, campana text, url_instrucciones text, url_normativa text, url_formato text)
    LANGUAGE sql STABLE
    AS $$
    SELECT id, campana, url_instrucciones, url_normativa, url_formato
    FROM modelo_campana
    WHERE modelo_id = p_modelo_id AND activo = true
    ORDER BY campana DESC
    LIMIT 1;
$$;


ALTER FUNCTION public.modelo_campana_activa(p_modelo_id integer) OWNER TO esdata;

--
-- Name: update_version_articulo_search_vector(); Type: FUNCTION; Schema: public; Owner: esdata
--

CREATE FUNCTION public.update_version_articulo_search_vector() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    NEW.search_vector := to_tsvector('spanish', COALESCE(NEW.texto, ''));
    RETURN NEW;
END;
$$;


ALTER FUNCTION public.update_version_articulo_search_vector() OWNER TO esdata;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: aeat_modelo; Type: TABLE; Schema: public; Owner: esdata
--

CREATE TABLE public.aeat_modelo (
    id integer NOT NULL,
    codigo text NOT NULL,
    nombre text NOT NULL,
    periodo text,
    impuesto text,
    url_info text,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.aeat_modelo OWNER TO esdata;

--
-- Name: aeat_modelo_id_seq; Type: SEQUENCE; Schema: public; Owner: esdata
--

CREATE SEQUENCE public.aeat_modelo_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.aeat_modelo_id_seq OWNER TO esdata;

--
-- Name: aeat_modelo_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: esdata
--

ALTER SEQUENCE public.aeat_modelo_id_seq OWNED BY public.aeat_modelo.id;


--
-- Name: ai_audit_log; Type: TABLE; Schema: public; Owner: esdata
--

CREATE TABLE public.ai_audit_log (
    id bigint NOT NULL,
    request_id text DEFAULT ''::text NOT NULL,
    "timestamp" text NOT NULL,
    componente text NOT NULL,
    accion text NOT NULL,
    configuracion text DEFAULT '{}'::text NOT NULL,
    resultado_resumen text DEFAULT ''::text NOT NULL,
    latencia_ms real,
    error text,
    user_id text,
    ip_address text
);


ALTER TABLE public.ai_audit_log OWNER TO esdata;

--
-- Name: ai_audit_log_id_seq; Type: SEQUENCE; Schema: public; Owner: esdata
--

CREATE SEQUENCE public.ai_audit_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.ai_audit_log_id_seq OWNER TO esdata;

--
-- Name: ai_audit_log_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: esdata
--

ALTER SEQUENCE public.ai_audit_log_id_seq OWNED BY public.ai_audit_log.id;


--
-- Name: ai_config_version; Type: TABLE; Schema: public; Owner: esdata
--

CREATE TABLE public.ai_config_version (
    id bigint NOT NULL,
    version_id text NOT NULL,
    hybrid_weight real NOT NULL,
    rrf_k real NOT NULL,
    limit_default integer NOT NULL,
    modo_review text NOT NULL,
    fecha_cambio text NOT NULL,
    cambiado_por text NOT NULL,
    configuracion_completa text DEFAULT '{}'::text NOT NULL
);


ALTER TABLE public.ai_config_version OWNER TO esdata;

--
-- Name: ai_config_version_id_seq; Type: SEQUENCE; Schema: public; Owner: esdata
--

CREATE SEQUENCE public.ai_config_version_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.ai_config_version_id_seq OWNER TO esdata;

--
-- Name: ai_config_version_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: esdata
--

ALTER SEQUENCE public.ai_config_version_id_seq OWNED BY public.ai_config_version.id;


--
-- Name: ai_model_registry; Type: TABLE; Schema: public; Owner: esdata
--

CREATE TABLE public.ai_model_registry (
    id bigint NOT NULL,
    model_id text NOT NULL,
    nombre text NOT NULL,
    version text NOT NULL,
    tipo text NOT NULL,
    proveedor text NOT NULL,
    hash_modelo text NOT NULL,
    descripcion text DEFAULT ''::text NOT NULL,
    fecha_despliegue text NOT NULL,
    activo integer DEFAULT 0 NOT NULL,
    configuracion text DEFAULT '{}'::text NOT NULL
);


ALTER TABLE public.ai_model_registry OWNER TO esdata;

--
-- Name: ai_model_registry_id_seq; Type: SEQUENCE; Schema: public; Owner: esdata
--

CREATE SEQUENCE public.ai_model_registry_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.ai_model_registry_id_seq OWNER TO esdata;

--
-- Name: ai_model_registry_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: esdata
--

ALTER SEQUENCE public.ai_model_registry_id_seq OWNED BY public.ai_model_registry.id;


--
-- Name: articulo; Type: TABLE; Schema: public; Owner: esdata
--

CREATE TABLE public.articulo (
    id integer NOT NULL,
    norma_id integer NOT NULL,
    numero text NOT NULL,
    titulo text,
    tipo text NOT NULL
);


ALTER TABLE public.articulo OWNER TO esdata;

--
-- Name: articulo_id_seq; Type: SEQUENCE; Schema: public; Owner: esdata
--

CREATE SEQUENCE public.articulo_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.articulo_id_seq OWNER TO esdata;

--
-- Name: articulo_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: esdata
--

ALTER SEQUENCE public.articulo_id_seq OWNED BY public.articulo.id;


--
-- Name: articulo_materia; Type: TABLE; Schema: public; Owner: esdata
--

CREATE TABLE public.articulo_materia (
    articulo_id integer NOT NULL,
    materia_id integer NOT NULL,
    relevancia smallint DEFAULT 1 NOT NULL
);


ALTER TABLE public.articulo_materia OWNER TO esdata;

--
-- Name: data_lineage; Type: TABLE; Schema: public; Owner: esdata
--

CREATE TABLE public.data_lineage (
    id bigint NOT NULL,
    entry_id text NOT NULL,
    tabla text NOT NULL,
    campo text NOT NULL,
    fuente_origen text NOT NULL,
    transformacion text DEFAULT ''::text NOT NULL,
    fecha_ingestion text NOT NULL,
    worker_correspondiente text DEFAULT 'unknown'::text NOT NULL,
    calidad_score real DEFAULT 100 NOT NULL,
    observaciones text DEFAULT ''::text NOT NULL
);


ALTER TABLE public.data_lineage OWNER TO esdata;

--
-- Name: data_lineage_id_seq; Type: SEQUENCE; Schema: public; Owner: esdata
--

CREATE SEQUENCE public.data_lineage_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.data_lineage_id_seq OWNER TO esdata;

--
-- Name: data_lineage_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: esdata
--

ALTER SEQUENCE public.data_lineage_id_seq OWNED BY public.data_lineage.id;


--
-- Name: documento_articulo; Type: TABLE; Schema: public; Owner: esdata
--

CREATE TABLE public.documento_articulo (
    documento_id integer NOT NULL,
    articulo_id integer NOT NULL,
    metodo_enlace text NOT NULL,
    confianza_enlace numeric(3,2) NOT NULL,
    nota text
);


ALTER TABLE public.documento_articulo OWNER TO esdata;

--
-- Name: documento_empresa; Type: TABLE; Schema: public; Owner: esdata
--

CREATE TABLE public.documento_empresa (
    documento_id integer NOT NULL,
    empresa_id integer NOT NULL,
    rol text NOT NULL,
    confianza_extraccion numeric(3,2) NOT NULL,
    nota text
);


ALTER TABLE public.documento_empresa OWNER TO esdata;

--
-- Name: documento_interpretativo; Type: TABLE; Schema: public; Owner: esdata
--

CREATE TABLE public.documento_interpretativo (
    id integer NOT NULL,
    tipo_documento text NOT NULL,
    organismo_emisor text NOT NULL,
    jurisdiccion text NOT NULL,
    tipo_fuente text NOT NULL,
    ambito text NOT NULL,
    referencia text NOT NULL,
    fecha date NOT NULL,
    titulo text,
    texto text NOT NULL,
    url_fuente text
);


ALTER TABLE public.documento_interpretativo OWNER TO esdata;

--
-- Name: documento_interpretativo_id_seq; Type: SEQUENCE; Schema: public; Owner: esdata
--

CREATE SEQUENCE public.documento_interpretativo_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.documento_interpretativo_id_seq OWNER TO esdata;

--
-- Name: documento_interpretativo_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: esdata
--

ALTER SEQUENCE public.documento_interpretativo_id_seq OWNED BY public.documento_interpretativo.id;


--
-- Name: empresa; Type: TABLE; Schema: public; Owner: esdata
--

CREATE TABLE public.empresa (
    id integer NOT NULL,
    nombre text NOT NULL,
    nif text,
    domicilio text,
    fuente_inicial text NOT NULL,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.empresa OWNER TO esdata;

--
-- Name: empresa_id_seq; Type: SEQUENCE; Schema: public; Owner: esdata
--

CREATE SEQUENCE public.empresa_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.empresa_id_seq OWNER TO esdata;

--
-- Name: empresa_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: esdata
--

ALTER SEQUENCE public.empresa_id_seq OWNED BY public.empresa.id;


--
-- Name: human_review; Type: TABLE; Schema: public; Owner: esdata
--

CREATE TABLE public.human_review (
    id bigint NOT NULL,
    review_id text NOT NULL,
    request_id text NOT NULL,
    decision_type text NOT NULL,
    ai_response_id text,
    status text NOT NULL,
    reviewer_id text,
    action text,
    notes text,
    confidence_threshold real DEFAULT 0 NOT NULL,
    ai_confidence real DEFAULT 0 NOT NULL,
    required_for text,
    created_at text NOT NULL,
    reviewed_at text,
    metadata text DEFAULT '{}'::text NOT NULL
);


ALTER TABLE public.human_review OWNER TO esdata;

--
-- Name: human_review_id_seq; Type: SEQUENCE; Schema: public; Owner: esdata
--

CREATE SEQUENCE public.human_review_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.human_review_id_seq OWNER TO esdata;

--
-- Name: human_review_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: esdata
--

ALTER SEQUENCE public.human_review_id_seq OWNED BY public.human_review.id;


--
-- Name: materia; Type: TABLE; Schema: public; Owner: esdata
--

CREATE TABLE public.materia (
    id integer NOT NULL,
    slug text NOT NULL,
    etiqueta text NOT NULL
);


ALTER TABLE public.materia OWNER TO esdata;

--
-- Name: materia_id_seq; Type: SEQUENCE; Schema: public; Owner: esdata
--

CREATE SEQUENCE public.materia_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.materia_id_seq OWNER TO esdata;

--
-- Name: materia_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: esdata
--

ALTER SEQUENCE public.materia_id_seq OWNED BY public.materia.id;


--
-- Name: modelo_articulo; Type: TABLE; Schema: public; Owner: esdata
--

CREATE TABLE public.modelo_articulo (
    modelo_id integer NOT NULL,
    articulo_id integer NOT NULL,
    casilla text,
    nota text,
    fuente text NOT NULL,
    url_fuente text
);


ALTER TABLE public.modelo_articulo OWNER TO esdata;

--
-- Name: modelo_campana; Type: TABLE; Schema: public; Owner: esdata
--

CREATE TABLE public.modelo_campana (
    id integer NOT NULL,
    modelo_id integer NOT NULL,
    campana text NOT NULL,
    version_form text,
    url_instrucciones text,
    url_normativa text,
    url_formato text,
    activo boolean DEFAULT true NOT NULL,
    creado_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.modelo_campana OWNER TO esdata;

--
-- Name: modelo_campana_id_seq; Type: SEQUENCE; Schema: public; Owner: esdata
--

CREATE SEQUENCE public.modelo_campana_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.modelo_campana_id_seq OWNER TO esdata;

--
-- Name: modelo_campana_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: esdata
--

ALTER SEQUENCE public.modelo_campana_id_seq OWNED BY public.modelo_campana.id;


--
-- Name: modelo_campana_operativa; Type: TABLE; Schema: public; Owner: esdata
--

CREATE TABLE public.modelo_campana_operativa (
    campana_id integer NOT NULL,
    categoria_obligado text,
    frecuencia_presentacion text,
    ventana_presentacion text,
    canal_presentacion text,
    obligados_resumen text,
    plazo_resumen text,
    presentacion_resumen text,
    norma_base text,
    nota text,
    origen_metadato text DEFAULT 'seed_curado'::text,
    estado_metadato text DEFAULT 'curado'::text,
    actualizado_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.modelo_campana_operativa OWNER TO esdata;

--
-- Name: modelo_casilla; Type: TABLE; Schema: public; Owner: esdata
--

CREATE TABLE public.modelo_casilla (
    id integer NOT NULL,
    campana_id integer NOT NULL,
    codigo text NOT NULL,
    etiqueta text NOT NULL,
    descripcion text,
    tipo_casilla text,
    pagina integer,
    orden integer,
    activa boolean DEFAULT true NOT NULL,
    creado_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.modelo_casilla OWNER TO esdata;

--
-- Name: modelo_casilla_id_seq; Type: SEQUENCE; Schema: public; Owner: esdata
--

CREATE SEQUENCE public.modelo_casilla_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.modelo_casilla_id_seq OWNER TO esdata;

--
-- Name: modelo_casilla_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: esdata
--

ALTER SEQUENCE public.modelo_casilla_id_seq OWNED BY public.modelo_casilla.id;


--
-- Name: modelo_clave; Type: TABLE; Schema: public; Owner: esdata
--

CREATE TABLE public.modelo_clave (
    id integer NOT NULL,
    campana_id integer NOT NULL,
    codigo text NOT NULL,
    etiqueta text NOT NULL,
    descripcion text,
    tipo_clave text,
    activa boolean DEFAULT true NOT NULL,
    creado_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.modelo_clave OWNER TO esdata;

--
-- Name: modelo_clave_id_seq; Type: SEQUENCE; Schema: public; Owner: esdata
--

CREATE SEQUENCE public.modelo_clave_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.modelo_clave_id_seq OWNER TO esdata;

--
-- Name: modelo_clave_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: esdata
--

ALTER SEQUENCE public.modelo_clave_id_seq OWNED BY public.modelo_clave.id;


--
-- Name: modelo_formato; Type: TABLE; Schema: public; Owner: esdata
--

CREATE TABLE public.modelo_formato (
    id integer NOT NULL,
    campana_id integer NOT NULL,
    tipo_registro text NOT NULL,
    campos jsonb,
    url_diseno text,
    creado_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.modelo_formato OWNER TO esdata;

--
-- Name: modelo_formato_id_seq; Type: SEQUENCE; Schema: public; Owner: esdata
--

CREATE SEQUENCE public.modelo_formato_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.modelo_formato_id_seq OWNER TO esdata;

--
-- Name: modelo_formato_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: esdata
--

ALTER SEQUENCE public.modelo_formato_id_seq OWNED BY public.modelo_formato.id;


--
-- Name: modelo_instruccion; Type: TABLE; Schema: public; Owner: esdata
--

CREATE TABLE public.modelo_instruccion (
    id integer NOT NULL,
    campana_id integer NOT NULL,
    seccion text NOT NULL,
    titulo text NOT NULL,
    contenido text NOT NULL,
    orden integer DEFAULT 0,
    creado_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.modelo_instruccion OWNER TO esdata;

--
-- Name: modelo_instruccion_id_seq; Type: SEQUENCE; Schema: public; Owner: esdata
--

CREATE SEQUENCE public.modelo_instruccion_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.modelo_instruccion_id_seq OWNER TO esdata;

--
-- Name: modelo_instruccion_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: esdata
--

ALTER SEQUENCE public.modelo_instruccion_id_seq OWNED BY public.modelo_instruccion.id;


--
-- Name: modelo_normativa; Type: TABLE; Schema: public; Owner: esdata
--

CREATE TABLE public.modelo_normativa (
    id integer NOT NULL,
    modelo_id integer NOT NULL,
    boe_id text,
    titulo text NOT NULL,
    fecha date,
    url_boe text,
    resumen text,
    creado_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.modelo_normativa OWNER TO esdata;

--
-- Name: modelo_normativa_id_seq; Type: SEQUENCE; Schema: public; Owner: esdata
--

CREATE SEQUENCE public.modelo_normativa_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.modelo_normativa_id_seq OWNER TO esdata;

--
-- Name: modelo_normativa_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: esdata
--

ALTER SEQUENCE public.modelo_normativa_id_seq OWNED BY public.modelo_normativa.id;


--
-- Name: norma; Type: TABLE; Schema: public; Owner: esdata
--

CREATE TABLE public.norma (
    id integer NOT NULL,
    codigo text NOT NULL,
    titulo text NOT NULL,
    boe_id text NOT NULL,
    eli_uri text,
    jurisdiccion text NOT NULL,
    tipo_fuente text NOT NULL,
    tipo_documento text NOT NULL,
    ambito text NOT NULL,
    estado_cobertura text NOT NULL,
    vigente_desde date NOT NULL,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.norma OWNER TO esdata;

--
-- Name: norma_id_seq; Type: SEQUENCE; Schema: public; Owner: esdata
--

CREATE SEQUENCE public.norma_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.norma_id_seq OWNER TO esdata;

--
-- Name: norma_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: esdata
--

ALTER SEQUENCE public.norma_id_seq OWNED BY public.norma.id;


--
-- Name: obligacion_documento; Type: TABLE; Schema: public; Owner: esdata
--

CREATE TABLE public.obligacion_documento (
    obligacion_id integer NOT NULL,
    documento_id integer NOT NULL,
    tipo_relacion text NOT NULL
);


ALTER TABLE public.obligacion_documento OWNER TO esdata;

--
-- Name: obligacion_regulatoria; Type: TABLE; Schema: public; Owner: esdata
--

CREATE TABLE public.obligacion_regulatoria (
    id integer NOT NULL,
    codigo text NOT NULL,
    nombre text NOT NULL,
    fuente text NOT NULL,
    organismo_emisor text NOT NULL,
    tipo_obligacion text NOT NULL,
    sujeto_obligado text NOT NULL,
    periodicidad text,
    reporte_modelo text,
    ambito text NOT NULL,
    estado_vigencia text NOT NULL,
    documento_origen_tipo text NOT NULL,
    documento_origen_ref text NOT NULL,
    seccion_origen text,
    anexo_origen text,
    nota text,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.obligacion_regulatoria OWNER TO esdata;

--
-- Name: obligacion_regulatoria_id_seq; Type: SEQUENCE; Schema: public; Owner: esdata
--

CREATE SEQUENCE public.obligacion_regulatoria_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.obligacion_regulatoria_id_seq OWNER TO esdata;

--
-- Name: obligacion_regulatoria_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: esdata
--

ALTER SEQUENCE public.obligacion_regulatoria_id_seq OWNED BY public.obligacion_regulatoria.id;


--
-- Name: query_audit_log; Type: TABLE; Schema: public; Owner: esdata
--

CREATE TABLE public.query_audit_log (
    id bigint NOT NULL,
    entry_id text NOT NULL,
    request_id text NOT NULL,
    user_id text,
    path text NOT NULL,
    query_text text NOT NULL,
    retrieved_chunks text DEFAULT '[]'::text NOT NULL,
    response_summary text DEFAULT ''::text NOT NULL,
    model_version text,
    config_version text,
    created_at text NOT NULL
);


ALTER TABLE public.query_audit_log OWNER TO esdata;

--
-- Name: query_audit_log_id_seq; Type: SEQUENCE; Schema: public; Owner: esdata
--

CREATE SEQUENCE public.query_audit_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.query_audit_log_id_seq OWNER TO esdata;

--
-- Name: query_audit_log_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: esdata
--

ALTER SEQUENCE public.query_audit_log_id_seq OWNED BY public.query_audit_log.id;


--
-- Name: source_freshness_snapshot; Type: TABLE; Schema: public; Owner: esdata
--

CREATE TABLE public.source_freshness_snapshot (
    id bigint NOT NULL,
    snapshot_id text NOT NULL,
    source_id text NOT NULL,
    snapshot_version text NOT NULL,
    snapshot_at text NOT NULL,
    last_success_at text,
    last_status text NOT NULL,
    stale integer DEFAULT 1 NOT NULL,
    cadencia text NOT NULL,
    modo_deteccion_cambios text NOT NULL,
    manifest_hash text DEFAULT ''::text NOT NULL,
    payload text DEFAULT '{}'::text NOT NULL
);


ALTER TABLE public.source_freshness_snapshot OWNER TO esdata;

--
-- Name: source_freshness_snapshot_id_seq; Type: SEQUENCE; Schema: public; Owner: esdata
--

CREATE SEQUENCE public.source_freshness_snapshot_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.source_freshness_snapshot_id_seq OWNER TO esdata;

--
-- Name: source_freshness_snapshot_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: esdata
--

ALTER SEQUENCE public.source_freshness_snapshot_id_seq OWNED BY public.source_freshness_snapshot.id;


--
-- Name: sync_log; Type: TABLE; Schema: public; Owner: esdata
--

CREATE TABLE public.sync_log (
    id integer NOT NULL,
    worker text NOT NULL,
    started_at timestamp with time zone NOT NULL,
    finished_at timestamp with time zone,
    status text NOT NULL,
    bloques_processed integer,
    articulos_upserted integer,
    documentos_processed integer,
    documentos_upserted integer,
    doctrina_links_created integer,
    error_msg text
);


ALTER TABLE public.sync_log OWNER TO esdata;

--
-- Name: sync_log_id_seq; Type: SEQUENCE; Schema: public; Owner: esdata
--

CREATE SEQUENCE public.sync_log_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.sync_log_id_seq OWNER TO esdata;

--
-- Name: sync_log_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: esdata
--

ALTER SEQUENCE public.sync_log_id_seq OWNED BY public.sync_log.id;


--
-- Name: version_articulo; Type: TABLE; Schema: public; Owner: esdata
--

CREATE TABLE public.version_articulo (
    id integer NOT NULL,
    articulo_id integer NOT NULL,
    texto text NOT NULL,
    vigente_desde date NOT NULL,
    vigente_hasta date,
    boe_bloque_id text,
    search_vector tsvector
);


ALTER TABLE public.version_articulo OWNER TO esdata;

--
-- Name: version_articulo_id_seq; Type: SEQUENCE; Schema: public; Owner: esdata
--

CREATE SEQUENCE public.version_articulo_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.version_articulo_id_seq OWNER TO esdata;

--
-- Name: version_articulo_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: esdata
--

ALTER SEQUENCE public.version_articulo_id_seq OWNED BY public.version_articulo.id;


--
-- Name: aeat_modelo id; Type: DEFAULT; Schema: public; Owner: esdata
--

ALTER TABLE ONLY public.aeat_modelo ALTER COLUMN id SET DEFAULT nextval('public.aeat_modelo_id_seq'::regclass);


--
-- Name: ai_audit_log id; Type: DEFAULT; Schema: public; Owner: esdata
--

ALTER TABLE ONLY public.ai_audit_log ALTER COLUMN id SET DEFAULT nextval('public.ai_audit_log_id_seq'::regclass);


--
-- Name: ai_config_version id; Type: DEFAULT; Schema: public; Owner: esdata
--

ALTER TABLE ONLY public.ai_config_version ALTER COLUMN id SET DEFAULT nextval('public.ai_config_version_id_seq'::regclass);


--
-- Name: ai_model_registry id; Type: DEFAULT; Schema: public; Owner: esdata
--

ALTER TABLE ONLY public.ai_model_registry ALTER COLUMN id SET DEFAULT nextval('public.ai_model_registry_id_seq'::regclass);


--
-- Name: articulo id; Type: DEFAULT; Schema: public; Owner: esdata
--

ALTER TABLE ONLY public.articulo ALTER COLUMN id SET DEFAULT nextval('public.articulo_id_seq'::regclass);


--
-- Name: data_lineage id; Type: DEFAULT; Schema: public; Owner: esdata
--

ALTER TABLE ONLY public.data_lineage ALTER COLUMN id SET DEFAULT nextval('public.data_lineage_id_seq'::regclass);


--
-- Name: documento_interpretativo id; Type: DEFAULT; Schema: public; Owner: esdata
--

ALTER TABLE ONLY public.documento_interpretativo ALTER COLUMN id SET DEFAULT nextval('public.documento_interpretativo_id_seq'::regclass);


--
-- Name: empresa id; Type: DEFAULT; Schema: public; Owner: esdata
--

ALTER TABLE ONLY public.empresa ALTER COLUMN id SET DEFAULT nextval('public.empresa_id_seq'::regclass);


--
-- Name: human_review id; Type: DEFAULT; Schema: public; Owner: esdata
--

ALTER TABLE ONLY public.human_review ALTER COLUMN id SET DEFAULT nextval('public.human_review_id_seq'::regclass);


--
-- Name: materia id; Type: DEFAULT; Schema: public; Owner: esdata
--

ALTER TABLE ONLY public.materia ALTER COLUMN id SET DEFAULT nextval('public.materia_id_seq'::regclass);


--
-- Name: modelo_campana id; Type: DEFAULT; Schema: public; Owner: esdata
--

ALTER TABLE ONLY public.modelo_campana ALTER COLUMN id SET DEFAULT nextval('public.modelo_campana_id_seq'::regclass);


--
-- Name: modelo_casilla id; Type: DEFAULT; Schema: public; Owner: esdata
--

ALTER TABLE ONLY public.modelo_casilla ALTER COLUMN id SET DEFAULT nextval('public.modelo_casilla_id_seq'::regclass);


--
-- Name: modelo_clave id; Type: DEFAULT; Schema: public; Owner: esdata
--

ALTER TABLE ONLY public.modelo_clave ALTER COLUMN id SET DEFAULT nextval('public.modelo_clave_id_seq'::regclass);


--
-- Name: modelo_formato id; Type: DEFAULT; Schema: public; Owner: esdata
--

ALTER TABLE ONLY public.modelo_formato ALTER COLUMN id SET DEFAULT nextval('public.modelo_formato_id_seq'::regclass);


--
-- Name: modelo_instruccion id; Type: DEFAULT; Schema: public; Owner: esdata
--

ALTER TABLE ONLY public.modelo_instruccion ALTER COLUMN id SET DEFAULT nextval('public.modelo_instruccion_id_seq'::regclass);


--
-- Name: modelo_normativa id; Type: DEFAULT; Schema: public; Owner: esdata
--

ALTER TABLE ONLY public.modelo_normativa ALTER COLUMN id SET DEFAULT nextval('public.modelo_normativa_id_seq'::regclass);


--
-- Name: norma id; Type: DEFAULT; Schema: public; Owner: esdata
--

ALTER TABLE ONLY public.norma ALTER COLUMN id SET DEFAULT nextval('public.norma_id_seq'::regclass);


--
-- Name: obligacion_regulatoria id; Type: DEFAULT; Schema: public; Owner: esdata
--

ALTER TABLE ONLY public.obligacion_regulatoria ALTER COLUMN id SET DEFAULT nextval('public.obligacion_regulatoria_id_seq'::regclass);


--
-- Name: query_audit_log id; Type: DEFAULT; Schema: public; Owner: esdata
--

ALTER TABLE ONLY public.query_audit_log ALTER COLUMN id SET DEFAULT nextval('public.query_audit_log_id_seq'::regclass);


--
-- Name: source_freshness_snapshot id; Type: DEFAULT; Schema: public; Owner: esdata
--

ALTER TABLE ONLY public.source_freshness_snapshot ALTER COLUMN id SET DEFAULT nextval('public.source_freshness_snapshot_id_seq'::regclass);


--
-- Name: sync_log id; Type: DEFAULT; Schema: public; Owner: esdata
--

ALTER TABLE ONLY public.sync_log ALTER COLUMN id SET DEFAULT nextval('public.sync_log_id_seq'::regclass);


--
-- Name: version_articulo id; Type: DEFAULT; Schema: public; Owner: esdata
--

ALTER TABLE ONLY public.version_articulo ALTER COLUMN id SET DEFAULT nextval('public.version_articulo_id_seq'::regclass);


--
-- Name: aeat_modelo aeat_modelo_codigo_key; Type: CONSTRAINT; Schema: public; Owner: esdata
--

ALTER TABLE ONLY public.aeat_modelo
    ADD CONSTRAINT aeat_modelo_codigo_key UNIQUE (codigo);


--
-- Name: aeat_modelo aeat_modelo_pkey; Type: CONSTRAINT; Schema: public; Owner: esdata
--

ALTER TABLE ONLY public.aeat_modelo
    ADD CONSTRAINT aeat_modelo_pkey PRIMARY KEY (id);


--
-- Name: ai_audit_log ai_audit_log_pkey; Type: CONSTRAINT; Schema: public; Owner: esdata
--

ALTER TABLE ONLY public.ai_audit_log
    ADD CONSTRAINT ai_audit_log_pkey PRIMARY KEY (id);


--
-- Name: ai_config_version ai_config_version_pkey; Type: CONSTRAINT; Schema: public; Owner: esdata
--

ALTER TABLE ONLY public.ai_config_version
    ADD CONSTRAINT ai_config_version_pkey PRIMARY KEY (id);


--
-- Name: ai_config_version ai_config_version_version_id_key; Type: CONSTRAINT; Schema: public; Owner: esdata
--

ALTER TABLE ONLY public.ai_config_version
    ADD CONSTRAINT ai_config_version_version_id_key UNIQUE (version_id);


--
-- Name: ai_model_registry ai_model_registry_model_id_key; Type: CONSTRAINT; Schema: public; Owner: esdata
--

ALTER TABLE ONLY public.ai_model_registry
    ADD CONSTRAINT ai_model_registry_model_id_key UNIQUE (model_id);


--
-- Name: ai_model_registry ai_model_registry_pkey; Type: CONSTRAINT; Schema: public; Owner: esdata
--

ALTER TABLE ONLY public.ai_model_registry
    ADD CONSTRAINT ai_model_registry_pkey PRIMARY KEY (id);


--
-- Name: articulo_materia articulo_materia_pkey; Type: CONSTRAINT; Schema: public; Owner: esdata
--

ALTER TABLE ONLY public.articulo_materia
    ADD CONSTRAINT articulo_materia_pkey PRIMARY KEY (articulo_id, materia_id);


--
-- Name: articulo articulo_norma_id_numero_key; Type: CONSTRAINT; Schema: public; Owner: esdata
--

ALTER TABLE ONLY public.articulo
    ADD CONSTRAINT articulo_norma_id_numero_key UNIQUE (norma_id, numero);


--
-- Name: articulo articulo_pkey; Type: CONSTRAINT; Schema: public; Owner: esdata
--

ALTER TABLE ONLY public.articulo
    ADD CONSTRAINT articulo_pkey PRIMARY KEY (id);


--
-- Name: data_lineage data_lineage_entry_id_key; Type: CONSTRAINT; Schema: public; Owner: esdata
--

ALTER TABLE ONLY public.data_lineage
    ADD CONSTRAINT data_lineage_entry_id_key UNIQUE (entry_id);


--
-- Name: data_lineage data_lineage_pkey; Type: CONSTRAINT; Schema: public; Owner: esdata
--

ALTER TABLE ONLY public.data_lineage
    ADD CONSTRAINT data_lineage_pkey PRIMARY KEY (id);


--
-- Name: documento_articulo documento_articulo_pkey; Type: CONSTRAINT; Schema: public; Owner: esdata
--

ALTER TABLE ONLY public.documento_articulo
    ADD CONSTRAINT documento_articulo_pkey PRIMARY KEY (documento_id, articulo_id);


--
-- Name: documento_empresa documento_empresa_pkey; Type: CONSTRAINT; Schema: public; Owner: esdata
--

ALTER TABLE ONLY public.documento_empresa
    ADD CONSTRAINT documento_empresa_pkey PRIMARY KEY (documento_id, empresa_id);


--
-- Name: documento_interpretativo documento_interpretativo_pkey; Type: CONSTRAINT; Schema: public; Owner: esdata
--

ALTER TABLE ONLY public.documento_interpretativo
    ADD CONSTRAINT documento_interpretativo_pkey PRIMARY KEY (id);


--
-- Name: documento_interpretativo documento_interpretativo_referencia_key; Type: CONSTRAINT; Schema: public; Owner: esdata
--

ALTER TABLE ONLY public.documento_interpretativo
    ADD CONSTRAINT documento_interpretativo_referencia_key UNIQUE (referencia);


--
-- Name: empresa empresa_nombre_key; Type: CONSTRAINT; Schema: public; Owner: esdata
--

ALTER TABLE ONLY public.empresa
    ADD CONSTRAINT empresa_nombre_key UNIQUE (nombre);


--
-- Name: empresa empresa_pkey; Type: CONSTRAINT; Schema: public; Owner: esdata
--

ALTER TABLE ONLY public.empresa
    ADD CONSTRAINT empresa_pkey PRIMARY KEY (id);


--
-- Name: human_review human_review_pkey; Type: CONSTRAINT; Schema: public; Owner: esdata
--

ALTER TABLE ONLY public.human_review
    ADD CONSTRAINT human_review_pkey PRIMARY KEY (id);


--
-- Name: human_review human_review_review_id_key; Type: CONSTRAINT; Schema: public; Owner: esdata
--

ALTER TABLE ONLY public.human_review
    ADD CONSTRAINT human_review_review_id_key UNIQUE (review_id);


--
-- Name: materia materia_pkey; Type: CONSTRAINT; Schema: public; Owner: esdata
--

ALTER TABLE ONLY public.materia
    ADD CONSTRAINT materia_pkey PRIMARY KEY (id);


--
-- Name: materia materia_slug_key; Type: CONSTRAINT; Schema: public; Owner: esdata
--

ALTER TABLE ONLY public.materia
    ADD CONSTRAINT materia_slug_key UNIQUE (slug);


--
-- Name: modelo_articulo modelo_articulo_pkey; Type: CONSTRAINT; Schema: public; Owner: esdata
--

ALTER TABLE ONLY public.modelo_articulo
    ADD CONSTRAINT modelo_articulo_pkey PRIMARY KEY (modelo_id, articulo_id);


--
-- Name: modelo_campana modelo_campana_modelo_id_campana_key; Type: CONSTRAINT; Schema: public; Owner: esdata
--

ALTER TABLE ONLY public.modelo_campana
    ADD CONSTRAINT modelo_campana_modelo_id_campana_key UNIQUE (modelo_id, campana);


--
-- Name: modelo_campana_operativa modelo_campana_operativa_pkey; Type: CONSTRAINT; Schema: public; Owner: esdata
--

ALTER TABLE ONLY public.modelo_campana_operativa
    ADD CONSTRAINT modelo_campana_operativa_pkey PRIMARY KEY (campana_id);


--
-- Name: modelo_campana modelo_campana_pkey; Type: CONSTRAINT; Schema: public; Owner: esdata
--

ALTER TABLE ONLY public.modelo_campana
    ADD CONSTRAINT modelo_campana_pkey PRIMARY KEY (id);


--
-- Name: modelo_casilla modelo_casilla_campana_id_codigo_key; Type: CONSTRAINT; Schema: public; Owner: esdata
--

ALTER TABLE ONLY public.modelo_casilla
    ADD CONSTRAINT modelo_casilla_campana_id_codigo_key UNIQUE (campana_id, codigo);


--
-- Name: modelo_casilla modelo_casilla_pkey; Type: CONSTRAINT; Schema: public; Owner: esdata
--

ALTER TABLE ONLY public.modelo_casilla
    ADD CONSTRAINT modelo_casilla_pkey PRIMARY KEY (id);


--
-- Name: modelo_clave modelo_clave_campana_id_codigo_key; Type: CONSTRAINT; Schema: public; Owner: esdata
--

ALTER TABLE ONLY public.modelo_clave
    ADD CONSTRAINT modelo_clave_campana_id_codigo_key UNIQUE (campana_id, codigo);


--
-- Name: modelo_clave modelo_clave_pkey; Type: CONSTRAINT; Schema: public; Owner: esdata
--

ALTER TABLE ONLY public.modelo_clave
    ADD CONSTRAINT modelo_clave_pkey PRIMARY KEY (id);


--
-- Name: modelo_formato modelo_formato_pkey; Type: CONSTRAINT; Schema: public; Owner: esdata
--

ALTER TABLE ONLY public.modelo_formato
    ADD CONSTRAINT modelo_formato_pkey PRIMARY KEY (id);


--
-- Name: modelo_instruccion modelo_instruccion_pkey; Type: CONSTRAINT; Schema: public; Owner: esdata
--

ALTER TABLE ONLY public.modelo_instruccion
    ADD CONSTRAINT modelo_instruccion_pkey PRIMARY KEY (id);


--
-- Name: modelo_normativa modelo_normativa_modelo_id_boe_id_key; Type: CONSTRAINT; Schema: public; Owner: esdata
--

ALTER TABLE ONLY public.modelo_normativa
    ADD CONSTRAINT modelo_normativa_modelo_id_boe_id_key UNIQUE (modelo_id, boe_id);


--
-- Name: modelo_normativa modelo_normativa_pkey; Type: CONSTRAINT; Schema: public; Owner: esdata
--

ALTER TABLE ONLY public.modelo_normativa
    ADD CONSTRAINT modelo_normativa_pkey PRIMARY KEY (id);


--
-- Name: norma norma_boe_id_key; Type: CONSTRAINT; Schema: public; Owner: esdata
--

ALTER TABLE ONLY public.norma
    ADD CONSTRAINT norma_boe_id_key UNIQUE (boe_id);


--
-- Name: norma norma_codigo_key; Type: CONSTRAINT; Schema: public; Owner: esdata
--

ALTER TABLE ONLY public.norma
    ADD CONSTRAINT norma_codigo_key UNIQUE (codigo);


--
-- Name: norma norma_eli_uri_key; Type: CONSTRAINT; Schema: public; Owner: esdata
--

ALTER TABLE ONLY public.norma
    ADD CONSTRAINT norma_eli_uri_key UNIQUE (eli_uri);


--
-- Name: norma norma_pkey; Type: CONSTRAINT; Schema: public; Owner: esdata
--

ALTER TABLE ONLY public.norma
    ADD CONSTRAINT norma_pkey PRIMARY KEY (id);


--
-- Name: obligacion_documento obligacion_documento_pkey; Type: CONSTRAINT; Schema: public; Owner: esdata
--

ALTER TABLE ONLY public.obligacion_documento
    ADD CONSTRAINT obligacion_documento_pkey PRIMARY KEY (obligacion_id, documento_id);


--
-- Name: obligacion_regulatoria obligacion_regulatoria_codigo_key; Type: CONSTRAINT; Schema: public; Owner: esdata
--

ALTER TABLE ONLY public.obligacion_regulatoria
    ADD CONSTRAINT obligacion_regulatoria_codigo_key UNIQUE (codigo);


--
-- Name: obligacion_regulatoria obligacion_regulatoria_pkey; Type: CONSTRAINT; Schema: public; Owner: esdata
--

ALTER TABLE ONLY public.obligacion_regulatoria
    ADD CONSTRAINT obligacion_regulatoria_pkey PRIMARY KEY (id);


--
-- Name: query_audit_log query_audit_log_entry_id_key; Type: CONSTRAINT; Schema: public; Owner: esdata
--

ALTER TABLE ONLY public.query_audit_log
    ADD CONSTRAINT query_audit_log_entry_id_key UNIQUE (entry_id);


--
-- Name: query_audit_log query_audit_log_pkey; Type: CONSTRAINT; Schema: public; Owner: esdata
--

ALTER TABLE ONLY public.query_audit_log
    ADD CONSTRAINT query_audit_log_pkey PRIMARY KEY (id);


--
-- Name: source_freshness_snapshot source_freshness_snapshot_pkey; Type: CONSTRAINT; Schema: public; Owner: esdata
--

ALTER TABLE ONLY public.source_freshness_snapshot
    ADD CONSTRAINT source_freshness_snapshot_pkey PRIMARY KEY (id);


--
-- Name: source_freshness_snapshot source_freshness_snapshot_snapshot_id_key; Type: CONSTRAINT; Schema: public; Owner: esdata
--

ALTER TABLE ONLY public.source_freshness_snapshot
    ADD CONSTRAINT source_freshness_snapshot_snapshot_id_key UNIQUE (snapshot_id);


--
-- Name: sync_log sync_log_pkey; Type: CONSTRAINT; Schema: public; Owner: esdata
--

ALTER TABLE ONLY public.sync_log
    ADD CONSTRAINT sync_log_pkey PRIMARY KEY (id);


--
-- Name: version_articulo version_articulo_pkey; Type: CONSTRAINT; Schema: public; Owner: esdata
--

ALTER TABLE ONLY public.version_articulo
    ADD CONSTRAINT version_articulo_pkey PRIMARY KEY (id);


--
-- Name: idx_ai_audit_component; Type: INDEX; Schema: public; Owner: esdata
--

CREATE INDEX idx_ai_audit_component ON public.ai_audit_log USING btree (componente);


--
-- Name: idx_ai_audit_request; Type: INDEX; Schema: public; Owner: esdata
--

CREATE INDEX idx_ai_audit_request ON public.ai_audit_log USING btree (request_id);


--
-- Name: idx_ai_audit_timestamp; Type: INDEX; Schema: public; Owner: esdata
--

CREATE INDEX idx_ai_audit_timestamp ON public.ai_audit_log USING btree ("timestamp");


--
-- Name: idx_ai_config_fecha; Type: INDEX; Schema: public; Owner: esdata
--

CREATE INDEX idx_ai_config_fecha ON public.ai_config_version USING btree (fecha_cambio);


--
-- Name: idx_ai_model_activo; Type: INDEX; Schema: public; Owner: esdata
--

CREATE INDEX idx_ai_model_activo ON public.ai_model_registry USING btree (activo);


--
-- Name: idx_ai_model_tipo; Type: INDEX; Schema: public; Owner: esdata
--

CREATE INDEX idx_ai_model_tipo ON public.ai_model_registry USING btree (tipo);


--
-- Name: idx_articulo_norma_id; Type: INDEX; Schema: public; Owner: esdata
--

CREATE INDEX idx_articulo_norma_id ON public.articulo USING btree (norma_id);


--
-- Name: idx_articulo_titulo_trgm; Type: INDEX; Schema: public; Owner: esdata
--

CREATE INDEX idx_articulo_titulo_trgm ON public.articulo USING gin (titulo public.gin_trgm_ops);


--
-- Name: idx_data_lineage_table; Type: INDEX; Schema: public; Owner: esdata
--

CREATE INDEX idx_data_lineage_table ON public.data_lineage USING btree (tabla);


--
-- Name: idx_data_lineage_table_field; Type: INDEX; Schema: public; Owner: esdata
--

CREATE INDEX idx_data_lineage_table_field ON public.data_lineage USING btree (tabla, campo);


--
-- Name: idx_documento_articulo_documento; Type: INDEX; Schema: public; Owner: esdata
--

CREATE INDEX idx_documento_articulo_documento ON public.documento_articulo USING btree (documento_id);


--
-- Name: idx_human_review_request; Type: INDEX; Schema: public; Owner: esdata
--

CREATE INDEX idx_human_review_request ON public.human_review USING btree (request_id);


--
-- Name: idx_human_review_status; Type: INDEX; Schema: public; Owner: esdata
--

CREATE INDEX idx_human_review_status ON public.human_review USING btree (status);


--
-- Name: idx_modelo_campana_modelo; Type: INDEX; Schema: public; Owner: esdata
--

CREATE INDEX idx_modelo_campana_modelo ON public.modelo_campana USING btree (modelo_id);


--
-- Name: idx_modelo_campana_unique_active; Type: INDEX; Schema: public; Owner: esdata
--

CREATE UNIQUE INDEX idx_modelo_campana_unique_active ON public.modelo_campana USING btree (modelo_id) WHERE (activo = true);


--
-- Name: idx_modelo_casilla_campana; Type: INDEX; Schema: public; Owner: esdata
--

CREATE INDEX idx_modelo_casilla_campana ON public.modelo_casilla USING btree (campana_id);


--
-- Name: idx_modelo_clave_campana; Type: INDEX; Schema: public; Owner: esdata
--

CREATE INDEX idx_modelo_clave_campana ON public.modelo_clave USING btree (campana_id);


--
-- Name: idx_modelo_formato_campana; Type: INDEX; Schema: public; Owner: esdata
--

CREATE INDEX idx_modelo_formato_campana ON public.modelo_formato USING btree (campana_id);


--
-- Name: idx_modelo_instruccion_campana; Type: INDEX; Schema: public; Owner: esdata
--

CREATE INDEX idx_modelo_instruccion_campana ON public.modelo_instruccion USING btree (campana_id);


--
-- Name: idx_modelo_instruccion_unique; Type: INDEX; Schema: public; Owner: esdata
--

CREATE UNIQUE INDEX idx_modelo_instruccion_unique ON public.modelo_instruccion USING btree (campana_id, seccion, titulo);


--
-- Name: idx_modelo_normativa_modelo; Type: INDEX; Schema: public; Owner: esdata
--

CREATE INDEX idx_modelo_normativa_modelo ON public.modelo_normativa USING btree (modelo_id);


--
-- Name: idx_query_audit_created; Type: INDEX; Schema: public; Owner: esdata
--

CREATE INDEX idx_query_audit_created ON public.query_audit_log USING btree (created_at);


--
-- Name: idx_query_audit_path; Type: INDEX; Schema: public; Owner: esdata
--

CREATE INDEX idx_query_audit_path ON public.query_audit_log USING btree (path);


--
-- Name: idx_query_audit_request; Type: INDEX; Schema: public; Owner: esdata
--

CREATE INDEX idx_query_audit_request ON public.query_audit_log USING btree (request_id);


--
-- Name: idx_source_snapshot_source; Type: INDEX; Schema: public; Owner: esdata
--

CREATE INDEX idx_source_snapshot_source ON public.source_freshness_snapshot USING btree (source_id, snapshot_at);


--
-- Name: idx_source_snapshot_version; Type: INDEX; Schema: public; Owner: esdata
--

CREATE INDEX idx_source_snapshot_version ON public.source_freshness_snapshot USING btree (snapshot_version);


--
-- Name: idx_sync_log_started_at; Type: INDEX; Schema: public; Owner: esdata
--

CREATE INDEX idx_sync_log_started_at ON public.sync_log USING btree (started_at DESC);


--
-- Name: idx_sync_log_worker; Type: INDEX; Schema: public; Owner: esdata
--

CREATE INDEX idx_sync_log_worker ON public.sync_log USING btree (worker);


--
-- Name: idx_sync_log_worker_started; Type: INDEX; Schema: public; Owner: esdata
--

CREATE INDEX idx_sync_log_worker_started ON public.sync_log USING btree (worker, started_at DESC);


--
-- Name: idx_version_articulo_articulo_id; Type: INDEX; Schema: public; Owner: esdata
--

CREATE INDEX idx_version_articulo_articulo_id ON public.version_articulo USING btree (articulo_id);


--
-- Name: idx_version_articulo_articulo_vigente; Type: INDEX; Schema: public; Owner: esdata
--

CREATE INDEX idx_version_articulo_articulo_vigente ON public.version_articulo USING btree (articulo_id, vigente_desde DESC);


--
-- Name: idx_version_articulo_search_vector; Type: INDEX; Schema: public; Owner: esdata
--

CREATE INDEX idx_version_articulo_search_vector ON public.version_articulo USING gin (search_vector);


--
-- Name: idx_version_articulo_texto_trgm; Type: INDEX; Schema: public; Owner: esdata
--

CREATE INDEX idx_version_articulo_texto_trgm ON public.version_articulo USING gin (texto public.gin_trgm_ops);


--
-- Name: version_articulo trg_version_articulo_search_vector; Type: TRIGGER; Schema: public; Owner: esdata
--

CREATE TRIGGER trg_version_articulo_search_vector BEFORE INSERT OR UPDATE OF texto ON public.version_articulo FOR EACH ROW EXECUTE FUNCTION public.update_version_articulo_search_vector();


--
-- Name: articulo_materia articulo_materia_articulo_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: esdata
--

ALTER TABLE ONLY public.articulo_materia
    ADD CONSTRAINT articulo_materia_articulo_id_fkey FOREIGN KEY (articulo_id) REFERENCES public.articulo(id);


--
-- Name: articulo_materia articulo_materia_materia_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: esdata
--

ALTER TABLE ONLY public.articulo_materia
    ADD CONSTRAINT articulo_materia_materia_id_fkey FOREIGN KEY (materia_id) REFERENCES public.materia(id);


--
-- Name: articulo articulo_norma_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: esdata
--

ALTER TABLE ONLY public.articulo
    ADD CONSTRAINT articulo_norma_id_fkey FOREIGN KEY (norma_id) REFERENCES public.norma(id);


--
-- Name: documento_articulo documento_articulo_articulo_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: esdata
--

ALTER TABLE ONLY public.documento_articulo
    ADD CONSTRAINT documento_articulo_articulo_id_fkey FOREIGN KEY (articulo_id) REFERENCES public.articulo(id);


--
-- Name: documento_articulo documento_articulo_documento_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: esdata
--

ALTER TABLE ONLY public.documento_articulo
    ADD CONSTRAINT documento_articulo_documento_id_fkey FOREIGN KEY (documento_id) REFERENCES public.documento_interpretativo(id);


--
-- Name: documento_empresa documento_empresa_documento_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: esdata
--

ALTER TABLE ONLY public.documento_empresa
    ADD CONSTRAINT documento_empresa_documento_id_fkey FOREIGN KEY (documento_id) REFERENCES public.documento_interpretativo(id);


--
-- Name: documento_empresa documento_empresa_empresa_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: esdata
--

ALTER TABLE ONLY public.documento_empresa
    ADD CONSTRAINT documento_empresa_empresa_id_fkey FOREIGN KEY (empresa_id) REFERENCES public.empresa(id);


--
-- Name: modelo_articulo modelo_articulo_articulo_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: esdata
--

ALTER TABLE ONLY public.modelo_articulo
    ADD CONSTRAINT modelo_articulo_articulo_id_fkey FOREIGN KEY (articulo_id) REFERENCES public.articulo(id) ON DELETE CASCADE;


--
-- Name: modelo_articulo modelo_articulo_modelo_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: esdata
--

ALTER TABLE ONLY public.modelo_articulo
    ADD CONSTRAINT modelo_articulo_modelo_id_fkey FOREIGN KEY (modelo_id) REFERENCES public.aeat_modelo(id) ON DELETE CASCADE;


--
-- Name: modelo_campana modelo_campana_modelo_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: esdata
--

ALTER TABLE ONLY public.modelo_campana
    ADD CONSTRAINT modelo_campana_modelo_id_fkey FOREIGN KEY (modelo_id) REFERENCES public.aeat_modelo(id) ON DELETE CASCADE;


--
-- Name: modelo_campana_operativa modelo_campana_operativa_campana_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: esdata
--

ALTER TABLE ONLY public.modelo_campana_operativa
    ADD CONSTRAINT modelo_campana_operativa_campana_id_fkey FOREIGN KEY (campana_id) REFERENCES public.modelo_campana(id) ON DELETE CASCADE;


--
-- Name: modelo_casilla modelo_casilla_campana_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: esdata
--

ALTER TABLE ONLY public.modelo_casilla
    ADD CONSTRAINT modelo_casilla_campana_id_fkey FOREIGN KEY (campana_id) REFERENCES public.modelo_campana(id) ON DELETE CASCADE;


--
-- Name: modelo_clave modelo_clave_campana_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: esdata
--

ALTER TABLE ONLY public.modelo_clave
    ADD CONSTRAINT modelo_clave_campana_id_fkey FOREIGN KEY (campana_id) REFERENCES public.modelo_campana(id) ON DELETE CASCADE;


--
-- Name: modelo_formato modelo_formato_campana_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: esdata
--

ALTER TABLE ONLY public.modelo_formato
    ADD CONSTRAINT modelo_formato_campana_id_fkey FOREIGN KEY (campana_id) REFERENCES public.modelo_campana(id) ON DELETE CASCADE;


--
-- Name: modelo_instruccion modelo_instruccion_campana_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: esdata
--

ALTER TABLE ONLY public.modelo_instruccion
    ADD CONSTRAINT modelo_instruccion_campana_id_fkey FOREIGN KEY (campana_id) REFERENCES public.modelo_campana(id) ON DELETE CASCADE;


--
-- Name: modelo_normativa modelo_normativa_modelo_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: esdata
--

ALTER TABLE ONLY public.modelo_normativa
    ADD CONSTRAINT modelo_normativa_modelo_id_fkey FOREIGN KEY (modelo_id) REFERENCES public.aeat_modelo(id) ON DELETE CASCADE;


--
-- Name: obligacion_documento obligacion_documento_documento_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: esdata
--

ALTER TABLE ONLY public.obligacion_documento
    ADD CONSTRAINT obligacion_documento_documento_id_fkey FOREIGN KEY (documento_id) REFERENCES public.documento_interpretativo(id);


--
-- Name: obligacion_documento obligacion_documento_obligacion_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: esdata
--

ALTER TABLE ONLY public.obligacion_documento
    ADD CONSTRAINT obligacion_documento_obligacion_id_fkey FOREIGN KEY (obligacion_id) REFERENCES public.obligacion_regulatoria(id);


--
-- Name: version_articulo version_articulo_articulo_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: esdata
--

ALTER TABLE ONLY public.version_articulo
    ADD CONSTRAINT version_articulo_articulo_id_fkey FOREIGN KEY (articulo_id) REFERENCES public.articulo(id);


--
-- PostgreSQL database dump complete
--

\unrestrict HHsg5kWKehANpRIELZ6Mwoq1LRrE00SFjMOl2elgCNYuuHL80FSuVGSckqrcFyZ

