{
	email {$CADDY_EMAIL}
}

{$API_DOMAIN} {
	reverse_proxy api:8000
}

{$WEB_DOMAIN} {
	reverse_proxy web:3000

	/api/* {
		uri strip_prefix /api
		reverse_proxy api:8000
	}

	/grafana* {
		uri strip_prefix /grafana
		reverse_proxy grafana:3000
	}
}
