{
  "openapi": "3.0.3",
  "info": {
    "title": "esdata API",
    "description": "API de consulta fiscal-regulatoria con trazabilidad a fuente oficial, superficies de governance y workers observables via sync_log.",
    "version": "0.1.6"
  },
  "servers": [
    {
      "url": "https://api.desuscribir.es",
      "description": "Production API"
    }
  ],
  "paths": {
    "/status": {
      "get": {
        "summary": "Get API operational status",
        "description": "Return API runtime status and operational metadata. Use this before relying on tax or legal answers if the integration needs to verify service health.",
        "operationId": "status_status_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/v1/buscar": {
      "get": {
        "tags": [
          "buscar"
        ],
        "summary": "Buscar en legislacion consolidada",
        "operationId": "buscar",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Termino de busqueda",
              "title": "Q"
            },
            "description": "Termino de busqueda"
          },
          {
            "name": "fuente",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Filtrar por fuente (boe, autonomica, etc.)",
              "title": "Fuente"
            },
            "description": "Filtrar por fuente (boe, autonomica, etc.)"
          },
          {
            "name": "ambito",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Filtrar por ambito (tributario, etc.)",
              "title": "Ambito"
            },
            "description": "Filtrar por ambito (tributario, etc.)"
          },
          {
            "name": "tipo",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Filtrar por tipo de articulo",
              "title": "Tipo"
            },
            "description": "Filtrar por tipo de articulo"
          },
          {
            "name": "norma",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Filtrar por codigo de norma (LIVA, LIRPF, etc.)",
              "title": "Norma"
            },
            "description": "Filtrar por codigo de norma (LIVA, LIRPF, etc.)"
          },
          {
            "name": "vigente_en",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Fecha de vigencia (YYYY-MM-DD)",
              "title": "Vigente En"
            },
            "description": "Fecha de vigencia (YYYY-MM-DD)"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegislacionSearchResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/legislacion/buscar": {
      "get": {
        "tags": [
          "buscar"
        ],
        "summary": "Search Spanish legislation by text",
        "operationId": "buscar_legislacion",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Termino de busqueda",
              "title": "Q"
            },
            "description": "Termino de busqueda"
          },
          {
            "name": "norma",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Filtrar por codigo de norma",
              "title": "Norma"
            },
            "description": "Filtrar por codigo de norma"
          },
          {
            "name": "fuente",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Filtrar por fuente",
              "title": "Fuente"
            },
            "description": "Filtrar por fuente"
          },
          {
            "name": "ambito",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Filtrar por ambito",
              "title": "Ambito"
            },
            "description": "Filtrar por ambito"
          },
          {
            "name": "tipo",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Filtrar por tipo de articulo",
              "title": "Tipo"
            },
            "description": "Filtrar por tipo de articulo"
          },
          {
            "name": "vigente_en",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Fecha de vigencia (YYYY-MM-DD)",
              "title": "Vigente En"
            },
            "description": "Fecha de vigencia (YYYY-MM-DD)"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "description": "Search consolidated Spanish laws (LIVA, LIRPF, LIS, etc.) by keyword. Returns matching articles with snippets and relevance scores. Filter by norma (e.g. LIVA, LIRPF), ambito, tipo, fuente, or vigencia."
      }
    },
    "/v1/legislacion": {
      "get": {
        "tags": [
          "legislacion"
        ],
        "summary": "List Legislacion",
        "operationId": "list_legislacion",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 500,
              "minimum": 1,
              "description": "Tamano de pagina aplicado",
              "default": 200,
              "title": "Limit"
            },
            "description": "Tamano de pagina aplicado"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "description": "Offset de resultados",
              "default": 0,
              "title": "Offset"
            },
            "description": "Offset de resultados"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/v1/legislacion/{codigo}": {
      "get": {
        "tags": [
          "legislacion"
        ],
        "summary": "Get law details",
        "operationId": "get_norma",
        "parameters": [
          {
            "name": "codigo",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Codigo"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "description": "Get metadata for a Spanish law by code (e.g. LIVA, LIRPF, LIS). Returns title, jurisdiction, document type, and coverage status."
      }
    },
    "/v1/legislacion/{codigo}/articulos": {
      "get": {
        "tags": [
          "legislacion"
        ],
        "summary": "List Articulos",
        "operationId": "list_articulos",
        "parameters": [
          {
            "name": "codigo",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Codigo"
            }
          },
          {
            "name": "tipo",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Tipo"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 500,
              "minimum": 1,
              "description": "Tamano de pagina aplicado",
              "default": 200,
              "title": "Limit"
            },
            "description": "Tamano de pagina aplicado"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "description": "Offset de resultados",
              "default": 0,
              "title": "Offset"
            },
            "description": "Offset de resultados"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArticulosListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/legislacion/{codigo}/articulos/{numero}": {
      "get": {
        "tags": [
          "legislacion"
        ],
        "summary": "Get article text",
        "operationId": "get_articulo",
        "parameters": [
          {
            "name": "codigo",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Codigo"
            }
          },
          {
            "name": "numero",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Numero"
            }
          },
          {
            "name": "vigente_en",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Vigente En"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "description": "Get the full text of a specific article from a law. Optionally filter by vigencia_en (YYYY-MM-DD) for historical versions. Returns the article text, validity dates, and confidence info."
      }
    },
    "/v1/legislacion/{codigo}/articulos/{numero}/historial": {
      "get": {
        "tags": [
          "legislacion"
        ],
        "summary": "Get Articulo Historial",
        "operationId": "get_articulo_historial",
        "parameters": [
          {
            "name": "codigo",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Codigo"
            }
          },
          {
            "name": "numero",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Numero"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/v1/materias": {
      "get": {
        "tags": [
          "materias"
        ],
        "summary": "List Materias",
        "operationId": "list_materias",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/v1/materias/{slug}": {
      "get": {
        "tags": [
          "materias"
        ],
        "summary": "Get Materia",
        "operationId": "get_materia",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Slug"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/v1/doctrina/buscar": {
      "get": {
        "tags": [
          "doctrina"
        ],
        "summary": "Search interpretative doctrine",
        "operationId": "buscar_doctrina",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Termino de busqueda en texto de doctrina",
              "title": "Q"
            },
            "description": "Termino de busqueda en texto de doctrina"
          },
          {
            "name": "tipo",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Filtrar por tipo (consulta_vinculante, resolucion_teac, etc.)",
              "title": "Tipo"
            },
            "description": "Filtrar por tipo (consulta_vinculante, resolucion_teac, etc.)"
          },
          {
            "name": "desde",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Fecha minima (YYYY-MM-DD)",
              "title": "Desde"
            },
            "description": "Fecha minima (YYYY-MM-DD)"
          },
          {
            "name": "organismo_emisor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Filtrar por organismo (DGT, TEAC, etc.)",
              "title": "Organismo Emisor"
            },
            "description": "Filtrar por organismo (DGT, TEAC, etc.)"
          },
          {
            "name": "include_boe",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Incluir normas BOE relacionadas cuando apliquen",
              "default": true,
              "title": "Include Boe"
            },
            "description": "Incluir normas BOE relacionadas cuando apliquen"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DoctrinaSearchResponse"
                }
              }
            }
          }
        },
        "description": "Search interpretative doctrine from DGT (binding queries) or TEAC (resolutions). Returns doctrine documents with linked articles and confidence scores. Filter by tipo (consulta_vinculante, resolucion_teac), organismo_emisor, or fecha."
      }
    },
    "/v1/doctrina/{referencia}": {
      "get": {
        "tags": [
          "doctrina"
        ],
        "summary": "Get doctrine document",
        "operationId": "get_doctrina",
        "parameters": [
          {
            "name": "referencia",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Referencia"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DoctrinaDetail"
                }
              }
            }
          }
        },
        "description": "Get a specific doctrine document by reference (e.g. V0000-26, 00/1234/2024). Returns full text, linked articles, and confidence information."
      }
    },
    "/v1/modelos/campanas-operativas": {
      "get": {
        "tags": [
          "modelos"
        ],
        "summary": "Vista operativa agregada de varios modelos",
        "operationId": "list_modelos_campanas_operativas",
        "parameters": [
          {
            "name": "codigos",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Codigos separados por comas, ej: 124,216,296",
              "title": "Codigos"
            },
            "description": "Codigos separados por comas, ej: 124,216,296"
          },
          {
            "name": "campana",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Campana especifica",
              "title": "Campana"
            },
            "description": "Campana especifica"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ModelosCampanasOperativasResponse"
                }
              }
            }
          }
        },
        "x-beta": true
      }
    },
    "/v1/modelos/por-supuesto": {
      "get": {
        "tags": [
          "modelos"
        ],
        "summary": "Classify AEAT model candidates for a fiscal scenario",
        "description": "Return AEAT model candidates for a described fiscal scenario. Classifications are confirmed, candidate, or requires verification based only on ESData evidence. Do not present a model as mandatory unless the response explicitly supports that claim and the confidence/review fields allow it.",
        "operationId": "list_modelos_por_supuesto",
        "parameters": [
          {
            "name": "tipo_entidad",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Tipo de entidad, ej: sociedad_valores",
              "title": "Tipo Entidad"
            },
            "description": "Tipo de entidad, ej: sociedad_valores"
          },
          {
            "name": "clientes_residentes",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Si el supuesto incluye clientes residentes en Espana",
              "default": false,
              "title": "Clientes Residentes"
            },
            "description": "Si el supuesto incluye clientes residentes en Espana"
          },
          {
            "name": "clientes_no_residentes",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Si el supuesto incluye clientes no residentes",
              "default": false,
              "title": "Clientes No Residentes"
            },
            "description": "Si el supuesto incluye clientes no residentes"
          },
          {
            "name": "tipo_renta",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Tipo de renta u operacion economica, ej: capital_mobiliario",
              "title": "Tipo Renta"
            },
            "description": "Tipo de renta u operacion economica, ej: capital_mobiliario"
          },
          {
            "name": "tipo_operacion",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Tipo de operacion, ej: retencion, informativa",
              "title": "Tipo Operacion"
            },
            "description": "Tipo de operacion, ej: retencion, informativa"
          },
          {
            "name": "incluir_obligacion_sociedad",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Incluir modelos propios de la sociedad no derivados de clientes",
              "default": false,
              "title": "Incluir Obligacion Sociedad"
            },
            "description": "Incluir modelos propios de la sociedad no derivados de clientes"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ModelosPorSupuestoResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/modelos": {
      "get": {
        "tags": [
          "modelos"
        ],
        "summary": "List AEAT tax models",
        "description": "List all AEAT tax form models (100, 303, 111, etc.) with their linked article counts and active campaign box counts.",
        "operationId": "list_modelos",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 500,
              "minimum": 1,
              "description": "Tamano de pagina aplicado",
              "default": 200,
              "title": "Limit"
            },
            "description": "Tamano de pagina aplicado"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "description": "Offset de resultados",
              "default": 0,
              "title": "Offset"
            },
            "description": "Offset de resultados"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ModelosListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/modelos/{codigo}": {
      "get": {
        "tags": [
          "modelos"
        ],
        "summary": "Get AEAT model details",
        "description": "Get details for a specific AEAT tax model including linked legislation articles, a paginated page of active campaign boxes (casillas), key codes (claves), step-by-step instructions, regulatory framework (normativa), and related doctrine. Use casillas_limit/casillas_offset or /v1/modelos/{codigo}/casillas when all boxes are needed. Use related_limit and articulos_offset for bounded related lists, and continue only when the returned metadata indicates more results.",
        "operationId": "get_modelo",
        "parameters": [
          {
            "name": "codigo",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Codigo"
            }
          },
          {
            "name": "campana",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Campana especifica (ej: 2025). Si no se indica, usa la activa.",
              "title": "Campana"
            },
            "description": "Campana especifica (ej: 2025). Si no se indica, usa la activa."
          },
          {
            "name": "casillas_limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 500,
              "minimum": 1,
              "description": "Tamano de pagina para casillas incluidas. Use /casillas para navegar el listado completo.",
              "default": 200,
              "title": "Casillas Limit"
            },
            "description": "Tamano de pagina para casillas incluidas. Use /casillas para navegar el listado completo."
          },
          {
            "name": "casillas_offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "description": "Offset de casillas incluidas.",
              "default": 0,
              "title": "Casillas Offset"
            },
            "description": "Offset de casillas incluidas."
          },
          {
            "name": "related_limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 500,
              "minimum": 1,
              "description": "Tamano maximo para listas relacionadas incluidas: articulos, claves, instrucciones y normativa.",
              "default": 100,
              "title": "Related Limit"
            },
            "description": "Tamano maximo para listas relacionadas incluidas: articulos, claves, instrucciones y normativa."
          },
          {
            "name": "articulos_offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "description": "Offset de articulos incluidos.",
              "default": 0,
              "title": "Articulos Offset"
            },
            "description": "Offset de articulos incluidos."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ModeloDetail"
                }
              }
            }
          }
        }
      }
    },
    "/v1/modelos/{codigo}/articulos": {
      "get": {
        "tags": [
          "modelos"
        ],
        "summary": "Get Modelo Articulos",
        "description": "Solo artículos enlazados a un modelo (para filtros/paginación futura).",
        "operationId": "get_modelo_articulos",
        "parameters": [
          {
            "name": "codigo",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Codigo"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 500,
              "minimum": 1,
              "description": "Tamano de pagina aplicado",
              "default": 200,
              "title": "Limit"
            },
            "description": "Tamano de pagina aplicado"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "description": "Offset de resultados",
              "default": 0,
              "title": "Offset"
            },
            "description": "Offset de resultados"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/v1/modelos/{codigo}/casillas": {
      "get": {
        "tags": [
          "modelos"
        ],
        "summary": "Get paginated AEAT model boxes",
        "description": "Return a paginated list of official boxes/fields for an AEAT model campaign. Use limit/offset and continue only when has_more is true. A returned box confirms that the field exists in the model/campaign; it does not prove the box is mandatory for a concrete taxpayer scenario.",
        "operationId": "get_modelo_casillas",
        "parameters": [
          {
            "name": "codigo",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Codigo"
            }
          },
          {
            "name": "campana",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Campana especifica",
              "title": "Campana"
            },
            "description": "Campana especifica"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 500,
              "minimum": 1,
              "description": "Tamano de pagina. Por defecto 200 para evitar respuestas MCP/Actions truncadas.",
              "default": 200,
              "title": "Limit"
            },
            "description": "Tamano de pagina. Por defecto 200 para evitar respuestas MCP/Actions truncadas."
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "description": "Desplazamiento para continuar la pagina anterior.",
              "default": 0,
              "title": "Offset"
            },
            "description": "Desplazamiento para continuar la pagina anterior."
          },
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Filtro textual sobre codigo, etiqueta o descripcion de la casilla.",
              "title": "Q"
            },
            "description": "Filtro textual sobre codigo, etiqueta o descripcion de la casilla."
          },
          {
            "name": "tipo_casilla",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Filtro por tipo de casilla.",
              "title": "Tipo Casilla"
            },
            "description": "Filtro por tipo de casilla."
          },
          {
            "name": "pagina",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "description": "Filtro por pagina del formulario/PDF.",
              "title": "Pagina"
            },
            "description": "Filtro por pagina del formulario/PDF."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ModeloCasillasResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/modelos/{codigo}/claves": {
      "get": {
        "tags": [
          "modelos"
        ],
        "summary": "Claves de un modelo",
        "description": "Lista todas las claves de un modelo para una campaña.",
        "operationId": "get_modelo_claves",
        "parameters": [
          {
            "name": "codigo",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Codigo"
            }
          },
          {
            "name": "campana",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Campana especifica",
              "title": "Campana"
            },
            "description": "Campana especifica"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 500,
              "minimum": 1,
              "description": "Tamano de pagina aplicado",
              "default": 200,
              "title": "Limit"
            },
            "description": "Tamano de pagina aplicado"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "description": "Offset de resultados",
              "default": 0,
              "title": "Offset"
            },
            "description": "Offset de resultados"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/v1/modelos/{codigo}/instrucciones": {
      "get": {
        "tags": [
          "modelos"
        ],
        "summary": "Instrucciones de un modelo",
        "description": "Lista las instrucciones de un modelo para una campaña.",
        "operationId": "get_modelo_instrucciones",
        "parameters": [
          {
            "name": "codigo",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Codigo"
            }
          },
          {
            "name": "campana",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Campana especifica",
              "title": "Campana"
            },
            "description": "Campana especifica"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 500,
              "minimum": 1,
              "description": "Tamano de pagina aplicado",
              "default": 200,
              "title": "Limit"
            },
            "description": "Tamano de pagina aplicado"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "description": "Offset de resultados",
              "default": 0,
              "title": "Offset"
            },
            "description": "Offset de resultados"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/v1/modelos/{codigo}/normativa": {
      "get": {
        "tags": [
          "modelos"
        ],
        "summary": "Get Modelo Normativa",
        "description": "Lista la normativa (BOE) de un modelo.",
        "operationId": "get_modelo_normativa",
        "parameters": [
          {
            "name": "codigo",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Codigo"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/v1/modelos/{codigo}/artefactos": {
      "get": {
        "tags": [
          "modelos"
        ],
        "summary": "Artefactos técnicos disponibles para un modelo",
        "operationId": "get_modelo_artefactos",
        "parameters": [
          {
            "name": "codigo",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Codigo"
            }
          },
          {
            "name": "campana",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Campana especifica",
              "title": "Campana"
            },
            "description": "Campana especifica"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ModeloArtefactosResponse"
                }
              }
            }
          }
        },
        "x-beta": true
      }
    },
    "/v1/modelos/{codigo}/resumen-operativo": {
      "get": {
        "tags": [
          "modelos"
        ],
        "summary": "Resumen operativo para agentes sobre un modelo",
        "operationId": "get_modelo_resumen_operativo",
        "parameters": [
          {
            "name": "codigo",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Codigo"
            }
          },
          {
            "name": "campana",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Campana especifica",
              "title": "Campana"
            },
            "description": "Campana especifica"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ModeloResumenOperativoResponse"
                }
              }
            }
          }
        },
        "x-beta": true
      }
    },
    "/v1/modelos/{codigo}/campana-operativa": {
      "get": {
        "tags": [
          "modelos"
        ],
        "summary": "Vista de campaña operativa para agentes",
        "operationId": "get_modelo_campana_operativa",
        "parameters": [
          {
            "name": "codigo",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Codigo"
            }
          },
          {
            "name": "campana",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Campana especifica",
              "title": "Campana"
            },
            "description": "Campana especifica"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ModeloCampanaOperativaResponse"
                }
              }
            }
          }
        },
        "x-beta": true
      }
    },
    "/v1/modelos/{codigo}/fuentes-oficiales": {
      "get": {
        "tags": [
          "modelos"
        ],
        "summary": "Fuentes oficiales recomendadas para trabajar un modelo",
        "operationId": "get_modelo_fuentes_oficiales",
        "parameters": [
          {
            "name": "codigo",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Codigo"
            }
          },
          {
            "name": "campana",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Campana especifica",
              "title": "Campana"
            },
            "description": "Campana especifica"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ModeloFuentesOficialesResponse"
                }
              }
            }
          }
        },
        "x-beta": true
      }
    },
    "/v1/consulta": {
      "get": {
        "tags": [
          "consulta"
        ],
        "summary": "Ask a grounded Spanish tax/legal query",
        "description": "Run a grounded ESData fiscal/legal retrieval query. Responses must be treated according to their confidence, relevance, citations, and review_required fields. Do not infer mandatory obligations when the response only returns low-relevance candidates or explicitly requires verification.",
        "operationId": "consulta_fiscal",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Pregunta fiscal en lenguaje natural (ej: 'facta no residente', 'irpf dividendos ue', 'iva entregas intracomunitarias')",
              "default": "",
              "title": "Q"
            },
            "description": "Pregunta fiscal en lenguaje natural (ej: 'facta no residente', 'irpf dividendos ue', 'iva entregas intracomunitarias')"
          },
          {
            "name": "sujeto",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Tipo de sujeto: contribuyente, no_residente, empresa, retenedor, etc.",
              "default": "",
              "title": "Sujeto"
            },
            "description": "Tipo de sujeto: contribuyente, no_residente, empresa, retenedor, etc."
          },
          {
            "name": "pais",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "País/territorio: es, ue, intracomunitario, fuera_ue, etc.",
              "default": "",
              "title": "Pais"
            },
            "description": "País/territorio: es, ue, intracomunitario, fuera_ue, etc."
          },
          {
            "name": "tipo_operacion",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Tipo de operación: entrega_bienes, prestacion_servicios, dividendos, retencion, etc.",
              "default": "",
              "title": "Tipo Operacion"
            },
            "description": "Tipo de operación: entrega_bienes, prestacion_servicios, dividendos, retencion, etc."
          },
          {
            "name": "vigente_en",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Fecha de vigencia (YYYY-MM-DD)",
              "title": "Vigente En"
            },
            "description": "Fecha de vigencia (YYYY-MM-DD)"
          },
          {
            "name": "sources",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Filtrar fuentes por tipo, separadas por coma. Valores: legislacion, doctrina, pgc, modelos, screening, entities, norms, articles. Si no se indica, usa todas las fuentes por defecto.",
              "title": "Sources"
            },
            "description": "Filtrar fuentes por tipo, separadas por coma. Valores: legislacion, doctrina, pgc, modelos, screening, entities, norms, articles. Si no se indica, usa todas las fuentes por defecto."
          },
          {
            "name": "hybrid_weight",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "maximum": 1.0,
              "minimum": 0.0,
              "description": "Peso del componente vectorial (0.0=fulltext, 0.3=hibrido, 1.0=vectorial)",
              "default": 0.3,
              "title": "Hybrid Weight"
            },
            "description": "Peso del componente vectorial (0.0=fulltext, 0.3=hibrido, 1.0=vectorial)"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConsultaFiscalResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/compliance/workflow": {
      "get": {
        "tags": [
          "compliance"
        ],
        "summary": "Listar Workflow Compliance",
        "operationId": "listar_workflow_compliance",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 500,
              "minimum": 1,
              "description": "Tamano de pagina aplicado",
              "default": 200,
              "title": "Limit"
            },
            "description": "Tamano de pagina aplicado"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "description": "Offset de resultados",
              "default": 0,
              "title": "Offset"
            },
            "description": "Offset de resultados"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/v1/mica/casp": {
      "get": {
        "tags": [
          "mica"
        ],
        "summary": "List Casp",
        "description": "Listar proveedores de servicios de criptoactivos (CASP) del registro ESMA.",
        "operationId": "list_casp",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Filtrar por estado: active, suspended, revoked",
              "title": "Status"
            },
            "description": "Filtrar por estado: active, suspended, revoked"
          },
          {
            "name": "home_member_state",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Filtrar por estado miembro (ISO 3166-1 alpha-2)",
              "title": "Home Member State"
            },
            "description": "Filtrar por estado miembro (ISO 3166-1 alpha-2)"
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Busqueda por nombre",
              "title": "Search"
            },
            "description": "Busqueda por nombre"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 200,
              "minimum": 1,
              "default": 50,
              "title": "Limit"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0,
              "title": "Offset"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CASPListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/mica/casp/{casp_id}": {
      "get": {
        "tags": [
          "mica"
        ],
        "summary": "Get Casp",
        "description": "Obtener detalle de un CASP por ID.",
        "operationId": "get_casp",
        "parameters": [
          {
            "name": "casp_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "title": "Casp Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CASPDetail"
                }
              }
            }
          }
        }
      }
    },
    "/v1/psd2/aspsp": {
      "get": {
        "tags": [
          "psd2"
        ],
        "summary": "List Psd2 Aspsp",
        "operationId": "list_psd2_aspsp",
        "parameters": [
          {
            "name": "regulatory_status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Estado regulatorio: registered, suspended, revoked",
              "title": "Regulatory Status"
            },
            "description": "Estado regulatorio: registered, suspended, revoked"
          },
          {
            "name": "home_member_state",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Estado miembro: ES, DE, FR, etc.",
              "title": "Home Member State"
            },
            "description": "Estado miembro: ES, DE, FR, etc."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 500,
              "minimum": 1,
              "description": "Limite de resultados",
              "default": 50,
              "title": "Limit"
            },
            "description": "Limite de resultados"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "description": "Offset de paginacion",
              "default": 0,
              "title": "Offset"
            },
            "description": "Offset de paginacion"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/v1/psd2/aspsp/{item_id}": {
      "get": {
        "tags": [
          "psd2"
        ],
        "summary": "Get Psd2 Aspsp",
        "operationId": "get_psd2_aspsp",
        "parameters": [
          {
            "name": "item_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "title": "Item Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/v1/psd2/aisp": {
      "get": {
        "tags": [
          "psd2"
        ],
        "summary": "List Psd2 Aisp",
        "operationId": "list_psd2_aisp",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Estado: active, inactive, suspended",
              "title": "Status"
            },
            "description": "Estado: active, inactive, suspended"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 500,
              "minimum": 1,
              "description": "Limite de resultados",
              "default": 50,
              "title": "Limit"
            },
            "description": "Limite de resultados"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "description": "Offset de paginacion",
              "default": 0,
              "title": "Offset"
            },
            "description": "Offset de paginacion"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/v1/psd2/aisp/{item_id}": {
      "get": {
        "tags": [
          "psd2"
        ],
        "summary": "Get Psd2 Aisp",
        "operationId": "get_psd2_aisp",
        "parameters": [
          {
            "name": "item_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "title": "Item Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/v1/psd2/pisp": {
      "get": {
        "tags": [
          "psd2"
        ],
        "summary": "List Psd2 Pisp",
        "operationId": "list_psd2_pisp",
        "parameters": [
          {
            "name": "authorization_status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Estado: authorized, suspended, revoked",
              "title": "Authorization Status"
            },
            "description": "Estado: authorized, suspended, revoked"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 500,
              "minimum": 1,
              "description": "Limite de resultados",
              "default": 50,
              "title": "Limit"
            },
            "description": "Limite de resultados"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "description": "Offset de paginacion",
              "default": 0,
              "title": "Offset"
            },
            "description": "Offset de paginacion"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/v1/psd2/pisp/{item_id}": {
      "get": {
        "tags": [
          "psd2"
        ],
        "summary": "Get Psd2 Pisp",
        "operationId": "get_psd2_pisp",
        "parameters": [
          {
            "name": "item_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "title": "Item Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/v1/psd2/sepa-rules": {
      "get": {
        "tags": [
          "psd2"
        ],
        "summary": "List Sepa Payment Rules",
        "operationId": "list_sepa_payment_rules",
        "parameters": [
          {
            "name": "payment_type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Tipo de pago: SEPA CT, SEPA CCT, SEPA Core, SEPA B2B",
              "title": "Payment Type"
            },
            "description": "Tipo de pago: SEPA CT, SEPA CCT, SEPA Core, SEPA B2B"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 500,
              "minimum": 1,
              "description": "Limite de resultados",
              "default": 50,
              "title": "Limit"
            },
            "description": "Limite de resultados"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "description": "Offset de paginacion",
              "default": 0,
              "title": "Offset"
            },
            "description": "Offset de paginacion"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/v1/psd2/sepa-rules/{item_id}": {
      "get": {
        "tags": [
          "psd2"
        ],
        "summary": "Get Sepa Payment Rule",
        "operationId": "get_sepa_payment_rule",
        "parameters": [
          {
            "name": "item_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "title": "Item Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/v1/screening/entries": {
      "get": {
        "tags": [
          "screening"
        ],
        "summary": "Screening Entries",
        "description": "List screening entries with filters.",
        "operationId": "screening_entries",
        "parameters": [
          {
            "name": "tipo",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Filtrar por tipo de lista: sanctions, pep, watchlist",
              "title": "Tipo"
            },
            "description": "Filtrar por tipo de lista: sanctions, pep, watchlist"
          },
          {
            "name": "codigo",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Filtrar por codigo de lista (OFAC_SDN, EU_SANCTIONS, etc.)",
              "title": "Codigo"
            },
            "description": "Filtrar por codigo de lista (OFAC_SDN, EU_SANCTIONS, etc.)"
          },
          {
            "name": "activo",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Filtrar por estado activo",
              "title": "Activo"
            },
            "description": "Filtrar por estado activo"
          },
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Buscar por nombre o alias",
              "title": "Q"
            },
            "description": "Buscar por nombre o alias"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 500,
              "minimum": 1,
              "description": "Limite de resultados",
              "default": 50,
              "title": "Limit"
            },
            "description": "Limite de resultados"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScreeningEntriesResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/domain-availability": {
      "get": {
        "tags": [
          "domain-availability"
        ],
        "summary": "List data availability by domain/table",
        "operationId": "list_domain_availability",
        "parameters": [
          {
            "name": "only_empty",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Return only tables that are not safe to answer from directly.",
              "default": false,
              "title": "Only Empty"
            },
            "description": "Return only tables that are not safe to answer from directly."
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Filter by populated/workflow_empty/allowed_empty/configured_but_unavailable.",
              "title": "Status"
            },
            "description": "Filter by populated/workflow_empty/allowed_empty/configured_but_unavailable."
          },
          {
            "name": "domain",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Case-insensitive domain substring.",
              "title": "Domain"
            },
            "description": "Case-insensitive domain substring."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "description": "List ESData domain availability statuses, including workflow_empty, allowed_empty, configured_but_unavailable, and populated domains. Use this to explain explicitly when a domain has no current data instead of inventing an answer."
      }
    },
    "/v1/domain-availability/{table}": {
      "get": {
        "tags": [
          "domain-availability"
        ],
        "summary": "Get one table/domain availability status",
        "operationId": "get_domain_availability",
        "parameters": [
          {
            "name": "table",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Table"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "description": "Return the availability status for a specific ESData table or domain. Use this when a query depends on a table that may be empty, unavailable, or intentionally allowed to be empty."
      }
    },
    "/v1/sources/freshness": {
      "get": {
        "tags": [
          "source-manifest"
        ],
        "summary": "Check source freshness",
        "operationId": "source_freshness_v1_sources_freshness_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "description": "Return freshness and ingestion status for official source families. Use this before answering currency-sensitive questions about tax models, deadlines, legislation, doctrine, or regulatory updates."
      }
    },
    "/v1/internacional/obligaciones": {
      "get": {
        "tags": [
          "internacional"
        ],
        "summary": "Listar Obligaciones Internacionales",
        "operationId": "listar_obligaciones_internacionales",
        "parameters": [
          {
            "name": "tipo",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Filtrar por tipo: tratado, convenio, directiva, ley",
              "title": "Tipo"
            },
            "description": "Filtrar por tipo: tratado, convenio, directiva, ley"
          },
          {
            "name": "estado",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Estado: activo, inactivo, obsoleto",
              "default": "activo",
              "title": "Estado"
            },
            "description": "Estado: activo, inactivo, obsoleto"
          },
          {
            "name": "jurisdiccion",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Filtrar por jurisdiccion de origen",
              "title": "Jurisdiccion"
            },
            "description": "Filtrar por jurisdiccion de origen"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 500,
              "minimum": 1,
              "description": "Numero maximo de registros",
              "default": 100,
              "title": "Limit"
            },
            "description": "Numero maximo de registros"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "description": "Desplazamiento para paginacion",
              "default": 0,
              "title": "Offset"
            },
            "description": "Desplazamiento para paginacion"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ObligacionInternacionalListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/internacional/obligaciones/{codigo}": {
      "get": {
        "tags": [
          "internacional"
        ],
        "summary": "Detalle Obligacion Internacional",
        "operationId": "detalle_obligacion_internacional",
        "parameters": [
          {
            "name": "codigo",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Codigo"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ObligacionInternacionalDetailResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/internacional/convenios/retenciones": {
      "get": {
        "tags": [
          "convenios-dta"
        ],
        "summary": "Listar reglas de retencion",
        "description": "Lista reglas de retencion por tipo de renta y pais.",
        "operationId": "listar_reglas_retencion_internacional",
        "parameters": [
          {
            "name": "tipo_renta",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Tipo de renta: dividends, interest, royalties, capital_gains, other",
              "title": "Tipo Renta"
            },
            "description": "Tipo de renta: dividends, interest, royalties, capital_gains, other"
          },
          {
            "name": "pais",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Pais aplicable (codigo ISO)",
              "title": "Pais"
            },
            "description": "Pais aplicable (codigo ISO)"
          },
          {
            "name": "estado",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Estado: activo, inactivo",
              "default": "activo",
              "title": "Estado"
            },
            "description": "Estado: activo, inactivo"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 500,
              "minimum": 1,
              "description": "Tamano de pagina aplicado",
              "default": 200,
              "title": "Limit"
            },
            "description": "Tamano de pagina aplicado"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "description": "Offset de resultados",
              "default": 0,
              "title": "Offset"
            },
            "description": "Offset de resultados"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IrsWithholdingRuleListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/internacional/convenios": {
      "get": {
        "tags": [
          "convenios-dta"
        ],
        "summary": "Listar convenios DTA",
        "description": "Lista convenios de doble tributacion con filtros por pais y estado.",
        "operationId": "listar_convenios_dta_internacional",
        "parameters": [
          {
            "name": "pais_a",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Pais origen (codigo ISO)",
              "title": "Pais A"
            },
            "description": "Pais origen (codigo ISO)"
          },
          {
            "name": "pais_b",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Pais destino (codigo ISO)",
              "title": "Pais B"
            },
            "description": "Pais destino (codigo ISO)"
          },
          {
            "name": "estado",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Estado: vigente, expirado, modificado",
              "default": "vigente",
              "title": "Estado"
            },
            "description": "Estado: vigente, expirado, modificado"
          },
          {
            "name": "tipo_acuerdo",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Tipo: bilateral, multilateral",
              "title": "Tipo Acuerdo"
            },
            "description": "Tipo: bilateral, multilateral"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 500,
              "minimum": 1,
              "description": "Tamano de pagina aplicado",
              "default": 200,
              "title": "Limit"
            },
            "description": "Tamano de pagina aplicado"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "description": "Offset de resultados",
              "default": 0,
              "title": "Offset"
            },
            "description": "Offset de resultados"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IrsDttaConventionListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/internacional/convenios/{codigo}": {
      "get": {
        "tags": [
          "convenios-dta"
        ],
        "summary": "Detalle convenio DTA",
        "description": "Detalle completo de un convenio de doble tributacion.",
        "operationId": "detalle_convenio_dta_internacional",
        "parameters": [
          {
            "name": "codigo",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Codigo"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IrsDttaConventionDetail"
                }
              }
            }
          }
        }
      }
    },
    "/v1/internacional/convenios/retencion": {
      "post": {
        "tags": [
          "convenios-dta"
        ],
        "summary": "Calcular retencion aplicable",
        "description": "Calcula el tipo de retencion aplicable cruzando reglas de retencion con convenios DTA vigentes. Si existe un convenio DTA vigente entre el pais de residencia y el tipo de renta, devuelve la tasa reducida.",
        "operationId": "calcular_retencion",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IrsFiscalCheckRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IrsFiscalCheckResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/irs-fiscal/normas": {
      "get": {
        "tags": [
          "irs-fiscal"
        ],
        "summary": "Listar Normas Irs",
        "operationId": "listar_normas_irs",
        "parameters": [
          {
            "name": "tipo",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Filtrar por tipo: publicacion, forma, instruccion, ley, convenio",
              "title": "Tipo"
            },
            "description": "Filtrar por tipo: publicacion, forma, instruccion, ley, convenio"
          },
          {
            "name": "estado",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Estado: activo, inactivo, obsoleto",
              "default": "activo",
              "title": "Estado"
            },
            "description": "Estado: activo, inactivo, obsoleto"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IrsFiscalNormaListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/irs-fiscal/w8-formularios": {
      "get": {
        "tags": [
          "irs-fiscal"
        ],
        "summary": "Listar Formularios W8",
        "operationId": "listar_formularios_w8",
        "parameters": [
          {
            "name": "tipo_sujeto",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Filtrar por tipo: persona_fisica, persona_juridica, exento",
              "title": "Tipo Sujeto"
            },
            "description": "Filtrar por tipo: persona_fisica, persona_juridica, exento"
          },
          {
            "name": "estado",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Estado: activo, inactivo",
              "default": "activo",
              "title": "Estado"
            },
            "description": "Estado: activo, inactivo"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IrsW8FormListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/irs-fiscal/tin-referencias": {
      "get": {
        "tags": [
          "irs-fiscal"
        ],
        "summary": "Listar Referencias Tin",
        "operationId": "listar_referencias_tin",
        "parameters": [
          {
            "name": "pais",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Filtrar por codigo de pais (ISO 3166-1 alpha-2)",
              "title": "Pais"
            },
            "description": "Filtrar por codigo de pais (ISO 3166-1 alpha-2)"
          },
          {
            "name": "ocde",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Filtrar por pais OCDE",
              "title": "Ocde"
            },
            "description": "Filtrar por pais OCDE"
          },
          {
            "name": "eu_vat",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Filtrar por pais UE VAT",
              "title": "Eu Vat"
            },
            "description": "Filtrar por pais UE VAT"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IrsTinReferenceListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/irs-fiscal/giin": {
      "get": {
        "tags": [
          "irs-fiscal"
        ],
        "summary": "Listar Registros Giin",
        "operationId": "listar_registros_giin",
        "parameters": [
          {
            "name": "estado",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Filtrar por estado FATCA: activo, inactivo, suspendido",
              "title": "Estado"
            },
            "description": "Filtrar por estado FATCA: activo, inactivo, suspendido"
          },
          {
            "name": "pais",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Filtrar por pais de la entidad",
              "title": "Pais"
            },
            "description": "Filtrar por pais de la entidad"
          },
          {
            "name": "tipo",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Filtrar por tipo: FFI, NFFE, Exempt Beneficial Owner",
              "title": "Tipo"
            },
            "description": "Filtrar por tipo: FFI, NFFE, Exempt Beneficial Owner"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 500,
              "minimum": 1,
              "description": "Limite de registros devueltos",
              "default": 50,
              "title": "Limit"
            },
            "description": "Limite de registros devueltos"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "description": "Offset de paginacion",
              "default": 0,
              "title": "Offset"
            },
            "description": "Offset de paginacion"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GiinRegistryListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/irs-fiscal/giin/{giin}": {
      "get": {
        "tags": [
          "irs-fiscal"
        ],
        "summary": "Detalle Registro Giin",
        "operationId": "detalle_registro_giin",
        "parameters": [
          {
            "name": "giin",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Giin"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GiinRegistryDetail"
                }
              }
            }
          }
        }
      }
    },
    "/v1/eurlex": {
      "get": {
        "tags": [
          "eurlex"
        ],
        "summary": "Listar Eurlex",
        "operationId": "listar_eurlex",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Filtrar por texto o título",
              "title": "Q"
            },
            "description": "Filtrar por texto o título"
          },
          {
            "name": "tipo",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Filtrar por tipo (directiva, reglamento, decision)",
              "title": "Tipo"
            },
            "description": "Filtrar por tipo (directiva, reglamento, decision)"
          },
          {
            "name": "ambito",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Filtrar por ámbito (fiscal_ue, mercado_interior, competencia_ue, ...)",
              "title": "Ambito"
            },
            "description": "Filtrar por ámbito (fiscal_ue, mercado_interior, competencia_ue, ...)"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "description": "Limite de documentos devueltos",
              "default": 20,
              "title": "Limit"
            },
            "description": "Limite de documentos devueltos"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "description": "Offset de paginacion",
              "default": 0,
              "title": "Offset"
            },
            "description": "Offset de paginacion"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EurLexListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/eurlex/{referencia}": {
      "get": {
        "tags": [
          "eurlex"
        ],
        "summary": "Get Eurlex",
        "operationId": "get_eurlex",
        "parameters": [
          {
            "name": "referencia",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Referencia"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EurLexDetail"
                }
              }
            }
          }
        }
      }
    },
    "/v1/obligaciones/aplicables": {
      "get": {
        "tags": [
          "obligaciones"
        ],
        "summary": "Listar Obligaciones Aplicables",
        "operationId": "listar_obligaciones_aplicables",
        "parameters": [
          {
            "name": "tipo_entidad",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Tipo de entidad regulada",
              "default": "sociedad_valores",
              "title": "Tipo Entidad"
            },
            "description": "Tipo de entidad regulada"
          },
          {
            "name": "reporting_reservado",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Si aplica reporting reservado CNMV",
              "default": true,
              "title": "Reporting Reservado"
            },
            "description": "Si aplica reporting reservado CNMV"
          },
          {
            "name": "aml_cft_reforzado",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Si la entidad esta sujeta a obligaciones AML/CFT operativas",
              "default": true,
              "title": "Aml Cft Reforzado"
            },
            "description": "Si la entidad esta sujeta a obligaciones AML/CFT operativas"
          },
          {
            "name": "cross_border_ue",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Si la entidad presta servicios cross-border UE",
              "default": false,
              "title": "Cross Border Ue"
            },
            "description": "Si la entidad presta servicios cross-border UE"
          },
          {
            "name": "limite",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 200,
              "minimum": 1,
              "description": "Numero maximo de obligaciones aplicables devueltas",
              "default": 100,
              "title": "Limite"
            },
            "description": "Numero maximo de obligaciones aplicables devueltas"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "description": "Offset de obligaciones aplicables",
              "default": 0,
              "title": "Offset"
            },
            "description": "Offset de obligaciones aplicables"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ObligacionesAplicablesResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/obligaciones/operativas": {
      "get": {
        "tags": [
          "obligaciones"
        ],
        "summary": "Listar Obligaciones Operativas",
        "description": "Listar obligaciones con datos operativos completos (plazos, sanciones, triggers).\n\nDiseñado para que el LLM consumidor del MCP pueda responder preguntas de\ncumplimiento con datos estructurados en lugar de texto libre.",
        "operationId": "listar_obligaciones_operativas",
        "parameters": [
          {
            "name": "ambito",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Filtrar por ámbito",
              "title": "Ambito"
            },
            "description": "Filtrar por ámbito"
          },
          {
            "name": "frecuencia",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Filtrar por frecuencia: mensual, trimestral, anual, eventual",
              "title": "Frecuencia"
            },
            "description": "Filtrar por frecuencia: mensual, trimestral, anual, eventual"
          },
          {
            "name": "con_sancion",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Solo obligaciones con sanciones definidas",
              "default": true,
              "title": "Con Sancion"
            },
            "description": "Solo obligaciones con sanciones definidas"
          },
          {
            "name": "limite",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 200,
              "minimum": 1,
              "description": "Número máximo de resultados",
              "default": 50,
              "title": "Limite"
            },
            "description": "Número máximo de resultados"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  },
                  "title": "Response Listar Obligaciones Operativas"
                }
              }
            }
          }
        }
      }
    },
    "/v1/obligaciones/deadlines": {
      "get": {
        "tags": [
          "obligaciones"
        ],
        "summary": "Listar Deadlines",
        "description": "Listar obligaciones próximas a vencer o presentar.\n\nDevuelve obligaciones ordenadas por frecuencia y ventana de presentación,\nútil para que el LLM responda \"qué tengo que presentar pronto\".",
        "operationId": "listar_deadlines",
        "parameters": [
          {
            "name": "dias_proximo",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 365,
              "minimum": 1,
              "description": "Mostrar obligaciones en los próximos N días",
              "default": 30,
              "title": "Dias Proximo"
            },
            "description": "Mostrar obligaciones en los próximos N días"
          },
          {
            "name": "frecuencia",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Filtrar por frecuencia",
              "title": "Frecuencia"
            },
            "description": "Filtrar por frecuencia"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  },
                  "title": "Response Listar Deadlines"
                }
              }
            }
          }
        }
      }
    },
    "/v1/obligaciones/{codigo}": {
      "get": {
        "tags": [
          "obligaciones"
        ],
        "summary": "Get Obligacion",
        "operationId": "get_obligacion",
        "parameters": [
          {
            "name": "codigo",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Codigo"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ObligacionDetail"
                }
              }
            }
          }
        }
      }
    },
    "/v1/cnmv": {
      "get": {
        "tags": [
          "cnmv"
        ],
        "summary": "Listar Cnmv",
        "operationId": "listar_cnmv",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Filtrar por texto o título",
              "title": "Q"
            },
            "description": "Filtrar por texto o título"
          },
          {
            "name": "ambito",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Filtrar por ámbito regulatorio",
              "title": "Ambito"
            },
            "description": "Filtrar por ámbito regulatorio"
          },
          {
            "name": "tipo_documento",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Filtrar por tipo de documento",
              "title": "Tipo Documento"
            },
            "description": "Filtrar por tipo de documento"
          },
          {
            "name": "vigencia",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Filtrar por estado de vigencia",
              "title": "Vigencia"
            },
            "description": "Filtrar por estado de vigencia"
          },
          {
            "name": "regulacion",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Filtrar por regulación EU/ES relacionada (mifid_ii, mifir, mar, dora, priips, LIVMC)",
              "title": "Regulacion"
            },
            "description": "Filtrar por regulación EU/ES relacionada (mifid_ii, mifir, mar, dora, priips, LIVMC)"
          },
          {
            "name": "obligacion",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Filtrar por tipo de obligación (presentacion_modelo, remision_informacion, control_interno, comunicacion_indicio, reporting_prudencial)",
              "title": "Obligacion"
            },
            "description": "Filtrar por tipo de obligación (presentacion_modelo, remision_informacion, control_interno, comunicacion_indicio, reporting_prudencial)"
          },
          {
            "name": "skip",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "description": "Offset de paginación",
              "default": 0,
              "title": "Skip"
            },
            "description": "Offset de paginación"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "description": "Número de resultados (máx 100)",
              "default": 20,
              "title": "Limit"
            },
            "description": "Número de resultados (máx 100)"
          },
          {
            "name": "order_by",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Campo de ordenación: fecha, referencia, titulo",
              "default": "fecha",
              "title": "Order By"
            },
            "description": "Campo de ordenación: fecha, referencia, titulo"
          },
          {
            "name": "order_dir",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Dirección de ordenación: asc, desc",
              "default": "desc",
              "title": "Order Dir"
            },
            "description": "Dirección de ordenación: asc, desc"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocInterpretativoListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/cnmv/buscar": {
      "get": {
        "tags": [
          "cnmv"
        ],
        "summary": "Buscar Cnmv",
        "operationId": "buscar_cnmv",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Filtrar por texto o titulo",
              "title": "Q"
            },
            "description": "Filtrar por texto o titulo"
          },
          {
            "name": "ambito",
            "in": "query",
[...]
